.this-month {
    font-size: 28px;
    line-height: 28px;
}

/* Tables */
.calendar table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    background-color: #fff;
}

.dark-theme .calendar table {
    background-color: #555;
}

.calendar.mini {
    font-size: 12px;
}

table[data-view='day'],
table[data-view='week'] {
    table-layout: auto;
}

.calendar th {
    height: 40px;
    padding: 0;
    text-align: center;
    background-color: #fafafa;
}

.calendar.mini th {
    height: 30px;
}

.dark-theme .calendar th {
    background-color: #2b2b2b;
}

[data-view='day'] th,
[data-view='week'] {
    height: 25px;
    line-height: 25px;
}

.calendar th,
.calendar td {
    border: 1px solid #ccc;
}

.dark-theme .calendar th,
.dark-theme .calendar td {
    border: 1px solid #777;
}

.calendar td {
    position: relative;
    vertical-align: top;
    height: 120px;
    padding: 5px;
    overflow: visible;
}

@media only screen and (max-width:768px) {
    .calendar td {
        height: 70px;
    }
}

@media only screen and (max-width:414px) {
    .calendar td {
        height: 50px;
    }
}

.calendar.mini td {
    height: 70px;
    padding:3px;
}

.calendar td.nm,
.calendar td.om {
    color: #aaa;
}

[data-view='week'] td {
    width: 200px;
    max-width: 200px;
}

[data-view='day'] td,
[data-view='week'] td {
    text-indent: 0;
    height: 30px;
}

[data-view='day'] td:first-child,
[data-view='week'] td:first-child {
    width: 60px;
    padding: 4px;
}

.calendar .today {
    color: #3561a3;
    font-weight: bold;
}

.calendar .today:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 7px;
    background-color: #3561a3;
}

.dark-theme .calendar .today:before {
    background-color: #0099ff;
}

.calendar button {
    overflow: hidden;
    color: #3561a3;
}

.dark-theme .calendar button {
    color: #0099ff;
}

.calendar .btn-prev {
    padding-right: 10px;
    border-right: 1px solid #d9d9d9;
}

.calendar .btn-next {
    padding-left: 10px;
    border-left: 1px solid #d9d9d9;
}

.calendar .events {
    text-align: center;
    display: flex;
}

.calendar .event {
    display: inline-block;
    position: relative;

    margin: auto;
    justify-content: space-evenly;
    background-color: #b9dae2;
    border-radius: 2px;
    color: #142f36;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    line-height: 21px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calendar .event:hover {
    cursor: pointer;
}

.calendar .event.shrink, .calendar.mini .event {
    min-width: auto;
    float:left;
    width: 15px;
    height: 15px;
    padding-left: 15px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 7px;
}

.calendar.mini .event {
    width: 10px;
    height: 10px;
    padding-left: 10px;
}

.calendar .event p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-indent: 5px;
}

.calendar .event.shrink p {
    padding: 0;
}

.event-large {
    position: absolute;
    z-index: 1000;
    width: 400px;
    margin-left: -200px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .1);
    color: #555;
    font-size: 18px;
    line-height: 24px;
    text-indent: 0;
    white-space: normal;
    cursor: default;
}

.event-large-header {
    padding: 5px 15px 5px 15px;
    background-color: #659dac;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #fff;
    font-size: 12px;
}

.event-large-header a,
.event-large-header a:visited,
.event-large-header button,
.dark-theme .event-large-header a,
.dark-theme .event-large-header a:visited,
.dark-theme .event-large-header button {
    float: right;
    vertical-align: middle;
    height: 22px;
    line-height: 24px;
    font-size: 12px;
    color: #fff;
}

.event-large-header button {
    margin-left: 15px;
}

.event-large p {
    position: relative;
    float: left;
    width: 100%;
    height: 135px;
    border-radius: 4px;
    z-index: 999;
    padding: 15px 15px 20px 15px !important;
    background-color: #fff;
    text-overflow: none !important;
    white-space: normal !important;
}

.event-large span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 5px 15px 15px 15px;
    font-size: 13px;
}

.event-large .arrow {
    position: absolute;
    z-index: 100;
    bottom: -5px;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: 33px 0 0 -20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .1);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.btn-cal-day {
    display: block;
    clear: both;
    padding: 0;
    text-align: left;
    color: #333 !important;
    font-size: 15px;
}

@media only screen and (max-width:768px) {
    .btn-cal-day {
        font-size: 12px;
    }
}

.calendar.mini .btn-cal-day {
    font-size: 12px;
}

.dark-theme .btn-cal-day {
    color: #eee !important;
}

.today .btn-cal-day {
    color: #3561a3 !important;
}

.dark-theme .today .btn-cal-day {
    color: #0099ff !important;
}

.time-td {
    text-align: right;
}