/* File Browser */
.filebrowser {
    position: fixed;
    top: 8%;
    left: 25%;
    z-index: 10000;
    display: none;
    max-height: 500px;
    width: 700px;
    margin-left: -350px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
    text-align: left;
}

.fb-titlebar {
    float: left;
    width: 100%;
    height: 35px;
    padding: 0 15px;
    background-color: #3561a3;
    border-bottom: 1px solid #ccc;
    color: #fff;
    line-height: 35px;
}

.fb-titlebar .btn-close {
    min-width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    color: #fff;
    line-height: 35px;
}

.fb-actions {
    float: left;
    width: 100%;
    padding: 5px 15px;
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    font-size: 12px;
}

.fb-actions button {
    float: left;
    margin: 0 10px 0 0;
    padding: 0 7px;
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    text-align: center;
}

.fb-actions i {
    width: 100%;
}

.fb-actions .fb-btn-back {
    display: none;
}

.fb-fileview {
    float: left;
    width: 100%;
    min-height: 500px;
    max-height: 500px;
    padding: 0 15px 15px 15px;
    overflow-y: auto;
}

.fb-fileview .alert {
    margin: 20px 0 0 0;
}

.fb-dirs {
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
}

.fb-dirs li {
    float: left;
    width: 100%;
    padding-top: 3px;
    margin-bottom: 3px;
}

.fb-dirs li:hover {
    cursor: pointer;
}

.fb-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 7px 15px;
    background-color: #4672b4;
    border-top: 1px solid #274e8a;
    color: #fff;
    font-size: 12px;
}

.fb-new-folder {
    position: absolute;
    bottom: -300px;
    width: 100%;
    padding: 5px 15px 15px 15px;
    border-top: 1px solid #ccc;
    background-color: #fafafa;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.fb-new-folder.open {
    bottom: 30px;
}

.fb-new-folder-input {
    clear: left;
    float: left;
    width: 80%;
    margin: 0;
    line-height: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.fb-btn-make-folder {
    float: left;
    width: 19%;
    margin: 0;
}

.fb-btn-delete {
    float: right;
    color: #777;
}

.fb-upload {
    position: absolute;
    left: 0;
    bottom: -550px;
    width: 100%;
    margin: 0 0;
    z-index: 777;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.fb-upload.open {
    bottom: 0;
}

.fb-upload .fb-btn-close-upload {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 778;
}

.filebrowser .dropzone {
    min-height: 462px;
    max-height: 462px;
    overflow-y: auto;
    margin: 0;
}

.fb-thumbnail {
    float: left;
    margin-top: 5px;
    max-width: 18px;
    margin-right: 10px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3);
}

.fb-thumbnail img {
    float: left;
    width: 100%;
}