/* Forms */
label,
.label {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
}

label.inline,
.label-inline {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    line-height: 32px;
    font-size: 13px;
    font-weight: 700;
}

label.required:after {
    vertical-align: middle;
    margin-left: 3px;
    content: '\f069';
    color: #ff6d6d;
    font-family: 'Font Awesome 5 Free';
    font-size: 6px
}

label.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    color: rgba(51, 51, 51, 0.5);
    font-family: 'Titillium Web';
}

input[type="text"] {
    -webkit-appearance: none;
}

input,
textarea,
select, 
option {
    vertical-align: middle;
    overflow: hidden;
    padding: 0 15px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #bbb;
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.1);
    color: #333;
    font-family: 'Titillium Web';
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: inherit;
}

select {
    height: 32px;
    padding: 0px 9px;
    text-indent: 0px;
}

option {
    height: 32px;
    line-height: 32px;
}

.dark-theme input,
.dark-theme textarea,
.dark-theme select {
    background-color: #444;
    border: 1px solid #222;
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.5);
    color: #e3e3e3;
}

input[type="checkbox"] {
    box-shadow: none;
}

input[type="radio"] {
    box-shadow: none;
    vertical-align: -1px;
}

input[type="submit"] {
    cursor: pointer;
    letter-spacing: inherit
}

input[type="color"] {
    padding: 0;
    width: 29px;
}

textarea {
    padding: 10px 15px 0 15px;
    min-height: 175px;
    height: auto;
}

input[type="text"]:disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    color: rgba(51, 51, 51, 0.5);
    font-family: 'Titillium Web';
}

.dark-theme ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eee;
    opacity: 1;
    /* Firefox */
}

.dark-theme :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #eee;
}

.dark-theme ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #eee;
}

.label-col,
.input-col {
    position: relative;
    float: left;
    height: 30px;
}

.label-col label,
.info-col {
    height: 30px;
    line-height: 30px;
    margin: 0;
}

.info-col {
    float: left;
    margin-left: 50px;
    color: #777;
}

.show-pw {
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -14px 0 0 0;
    z-index: 100;
    color: #777;
    font-size: 18px;
    cursor: pointer
}

.red-herring {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden
}

.input-attached-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-attached-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}