/* Header */
.header {
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.dark-theme .header {
    background-color: #222;
}

/* Breadcrumb */
.breadcrumb {
    float: left;
    height: 60px;
    font-weight: 600;
}

@media only screen and (max-width:1024px) {
    .breadcrumb {
        margin-bottom: 5px;
    }
}

.breadcrumb hr {
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    margin: 0px 15px 0 15px;
    border-top: none;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: 1px solid #ccc;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.breadcrumb hr:first-child {
    display: none;
}

.breadcrumb a {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    line-height: 60px;
    color: #1f4070 !important;
}

.dark-theme .breadcrumb a {
    color: #eee !important;
}

.breadcrumb a:nth-child(2) {
    display: inline-block;
    font-size: 20px;
    line-height: 60px;
}

/* Search */
.search {
    position: relative;
    float: right;
    margin-top: 14px;
    text-align: left;
}

.search-icon {
    position: absolute;
    left: 0;
    width: 40px;
    color: #ddd;
    font-size: 13px;
    text-align: center;
    line-height: 32px;
}

.dark-theme .search-icon {
    color: #e3e3e3;
}

.search input {
    float: left;
    width: 650px;
    padding: 0 15px 0 40px;
    border-radius: 3px;
    font-size: 13px;
}

@media only screen and (max-width:1024px) {
    .search,
    .search input {
        width: 100%;
    }
}

.search-results {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 100;
    clear: both;
    width: 650px;
    max-height: 500px;
    overflow-y: scroll;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

@media only screen and (max-width:1024px) {
    .search-results {
        width: 100%;
    }
}

.dark-theme .search-results {
    background-color: #37383b;
    border: 1px solid #777;
}

.search-results ul {
    list-style: none;
}

.search-results li:hover {
    cursor: pointer;
}

.search-results em {
    float: left;
    width: 100%;
    font-style: normal;
    font-weight: 600;
}