/* Navigation */
.nav {
    position: relative;
    float: left;
    width: 70px;
    margin-top: -1px;
    z-index: 100;
    overflow: hidden;
    background-color: #222;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dark-theme .nav {
    background-color: #222;
    box-shadow: inset -3px 3px 3px -3px #505050 !important;
    border-right: 1px solid #111;
}

@media only screen and (max-width:768px) {
    .nav {
        position: absolute; 
        top: 70px;
        bottom: 0;
        left: auto;
        right: 100%;
        width: 0;
        padding: 10px;
    }
}

.nav.wide {
    width: 240px;
    padding: 0 20px;
}

@media only screen and (max-width:1024px) {
    .nav.wide {
        width: 70px;
    }

    .btn-menu {
        display: none;
    }
}

@media only screen and (max-width:768px) {
    .nav.wide {
        width: 100%;
    }

    .nav.open {
        right: 0;
    }
}

.main-nav {
    float: left;
    width: 100%;
    list-style: none;
}

.main-nav li {
    position: relative;
    float: left;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main-nav a,
.main-nav a:visited {
    float: left;
    overflow: hidden;
    max-height: 60px;
    width: 100%;
    color: #ddd;
    line-height: 60px;
}

@media only screen and (max-width:768px) {
    .main-nav a,
    .main-nav a:visited {
        font-size: 18px;
    }
}

.dark-theme .main-nav a,
.dark-theme .main-nav a:visited {
    color: #0099ff;
}

.main-nav a:hover,
.main-nav a:focus,
.main-nav a:active {
    color: #aaa !important;
}

.dark-theme .main-nav a:hover,
.dark-theme .main-nav a:focus,
.dark-theme .main-nav a:active {
    color: #999 !important;
}

.nav .main-nav a.current {
    color: #4082ad;
}

.nav .main-nav a.current:after {
    content: '';
    position: absolute;
    background-color: #f8f8f8;
    right: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-right: -15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav.wide .main-nav a.current:after {
    content: '';
    position: absolute;
    background-color: #f8f8f8;
    right: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-right: -30px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.dark-theme .main-nav a.current {
    background-color: #0099ff;
    color: #fff;
}

.dark-theme .main-nav a.current:hover {
    color: #ddd !important;
}

.nav .main-nav a i:first-child {
    width: 70px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav.wide .main-nav a i:first-child {
    width: 40px;
}

.nav-toggle {
    margin: 13px 2px 0 0;
    font-family: "Font Awesome 5 Free";
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 175px;
    border: none;
    background-color: #eee;
    max-height: 0px;
    z-index: 100;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dropdown-menu.active {
    max-height: 500px;
    padding: 5px 0;
    border: 1px solid #ccc;
}

.dropdown-menu li {
    width: 100% !important;
}

.dropdown-menu a {
    width: 100% !important;
    border: none !important;
    font-size: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dropdown-menu i {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.account-nav {
    float: right;
    height: 50px;
    margin-top: 14px;
    margin-right: 15px;
    list-style: none;
}

@media only screen and (max-width: 736px) {
    .account-nav {
        display: none;
    }
}

.account-nav .nav-toggle {
    float: left;
    width: 15px;
}

.account-nav li {
    position: relative;
    float: left;
}

.account-nav a,
.account-nav a:visited,
.account-nav button,
.account-nav button:visited {
    float: left;
    padding: 0 10px 0 0;
    margin: 0 0 0 15px;
    background-color: #e9e9e9;
    border: 1px solid #b3b3b3;
    box-shadow: inset 0 0 3px #fdfdfd;
    border-radius: 3px;
    color: #1f4070;
    line-height: 30px;
    font-size: 13px;
    font-family: inherit;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.account-nav a i:first-child,
.account-nav button i:first-child {
    float: left;
    width: 30px;
    background-color: #1f4070;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: 10px;
    color: #fff;
    line-height: 30px;
}

.account-nav a:hover,
.account-nav a:focus,
.account-nav a:active,
.account-nav button:hover,
.account-nav button:focus,
.account-nav button:active {
    background-color: #c1c1c1;
}

.dark-theme .account-nav a:hover,
.dark-theme .account-nav a:focus,
.dark-theme .account-nav a:active,
.dark-theme .account-nav button:hover,
.dark-theme .account-nav button:focus,
.dark-theme .account-nav button:active {
    background-color: #3f4042;
}

.account-nav .dropdown-menu a,
.account-nav .dropdown-menu a:visited,
.account-nav .dropdown-menu button,
.account-nav .dropdown-menu button:visited {
    width: 100%;
    margin: 0;
    background-color: transparent;
    padding: 0 10px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #1f4070;
    text-align: left;
    white-space: nowrap;
}

.account-nav .dropdown-menu a:hover,
.account-nav .dropdown-menu a:focus,
.account-nav .dropdown-menu a:active,
.account-nav .dropdown-menu button:hover,
.account-nav .dropdown-menu button:focus,
.account-nav .dropdown-menu button:active {
    background-color: #dfdfdf;
}

.account-nav .dropdown-menu a i,
.account-nav .dropdown-menu button i {
    float: none;
    width: auto;
    background-color: transparent;
    color: #1f4070;
}

@media only screen and (max-width: 768px) {
    .account-nav a,
    .account-nav a:visited,
    .account-nav button,
    .account-nav button:visited {
        width: 30px;
        margin-left: 15px;
        padding: 0;
    }
}

.dark-theme .account-nav a,
.dark-theme .account-nav a:visited,
.dark-theme .account-nav button,
.dark-theme .account-nav button:visited {
    color: #0099ff;
}

.btn-mobile-menu {
    display: none;
    float: left;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .btn-mobile-menu {
        display: block;
    }
}