/* Gusto Page Content */

.page-editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 40px;
    z-index: 1000;
    overflow: hidden;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.btn-page-up {
    color: #fff;
}

.page-editor-btns {
    float: left;
    width: 100%;
    padding: 7px 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
}

.gusto .page-content {
    position: relative;
    float: left;
    width: 100%;
    word-wrap: break-word;
}

.gusto .page-content .cke_textarea_inline {
    position: relative;
    float: left;
    min-height: 1000px;
    width: 100%;
    border: 1px dashed #ddd;
}

.page-content {
    float: left;
    width: 100%;
}

.page-content .gallery {
    width: 100%;
}

.page-content .gallery img {
    max-width: 175px;
    margin: 0 15px 0 0
}

.page-content .slick-slider {
    display: block;
}

.page-content .slideshow div {
    min-width: initial;
    display: block;
}

.page-content .slideshow img {
    min-width: initial;
    display: block;
    max-width: initial;
}

.panel-title {
    float: left;
    width: 100%;
    padding: 5px 10px;
}

.panel-title {
    background-color: #808080;
    color: #fff;
}

.panel-title a, .panel-title a:visited {
    color: #fff;
}

.panel-title a:hover {
    text-decoration: underline;
}

.panel-content {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}

.panel-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3px 5px 5PX 5PX;
}

/* Buttons */
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Titillium Web';
    font-size: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
}

.pe-btn {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px 0 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Titillium Web';
    font-size: 12px;
    font-weight: inherit;
    line-height: 20px;
    text-align: center;
    -webkit-appearance: none;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.pe-btn i {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: initial;
}

.pe-btn:focus, .pe-btn:active {
    outline: none
}

.pe-btn::-moz-focus-inner {
    border: 0
}

.pe-btn-default, .pe-btn-default:visited {
    background-color: #408fdf;
    box-shadow: inset 0 0 1px 1px #6f95be;
    border: 1px solid #2671bd;
    color: rgba(255, 255, 255, 1) !important
}

.pe-btn-default:hover {
    background-color: #1e5fa1;
    color: rgba(255, 255, 255, 1)
}

.pe-btn-default:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.pe-btn-go, .pe-btn-go:visited {
    background-color: #5eb24a;
    border: 1px solid rgba(56, 142, 35, 0.3);
    box-shadow: inset 0 0 1px 1px #7dc86b;
    color: rgba(255, 255, 255, 1) !important
}

.pe-btn-go:hover {
    background-color: #58c83d;
    color: rgba(255, 255, 255, 1)
}

.pe-btn-go:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.pe-btn-stop, .pe-btn-stop:visited {
    background-color: #e75858;
    border: 1px solid #c04d4d;
    box-shadow: inset 0 0 1px 1px #f78686;
    color: rgba(255, 255, 255, 1) !important
}

.pe-btn-stop:hover {
    background-color: #d33838;
    color: rgba(255, 255, 255, 1)
}

.pe-btn-stop:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.pe-btn-basic, .pe-btn-basic:visited {
    background-color: #ececec;
    border: 1px solid #bfbfbf;
    box-shadow: inset 0 0 1px 1px #fafafa;
    color: #555 !important
}

.pe-btn-basic:hover {
    background-color: #fefefe;
    color: #555
}

.pe-btn-basic:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.pe-btn-small {
    height: 25px;
    padding: 0 5px;
    font-size: 11px;
    line-height: 22px;
}

.pe-btn-small i {
    line-height: 22px;
}

.pe-btn.pull-right {
    margin-left: 5px !important;
    margin-right: 0 !important;
}

.pe-btn.pull-left {
    margin-right: 5px !important;
    margin-left: 0 !important;
}

/* Alerts */
.alert {
    position: relative;
    float: left;
    padding: 5px 30px 5px 10px;
    margin: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    text-align: left
}

.alert strong {
    text-transform: capitalize;
}

.alert.success {
    background-color: #76d769;
}

.alert.error {
    background-color: #ff6868;
}

.alert.warning {
    background-color: #ffd447;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.alert.info {
    background-color: #68a8ff;
}

.alert-inline {
    position: absolute;
    float: none;
    top: 125%;
    left: -16px;
    z-index: 2000;
    min-width: 100px;
    width: auto;
    padding: 13px 10px;
    background-color: #fff;
    border: 1px solid #777;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    font-size: 12px
}

.alert-inline {
    background-color: #ff6868;
    border-color: #ff6868;
    box-shadow: none;
    color: #fff
}

.alert-inline::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 9px;
    width: 12px;
    height: 12px;
    background-color: #ff6868;
    border-top: 1px solid #ff6868;
    border-right: 1px solid #ff6868;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.alert button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}

.drag {
    position: absolute;
}