.pagination-controls {
    margin-top: 10px;
    padding: 0 10px; 
}

@media only screen and (max-width:414px) {
    .pagination-controls {
        margin-top: 0;
        padding: 0; 
    }
}

@media only screen and (max-width:414px) {
    .pagination-controls .col:nth-child(3) {
        margin-left: 0;
    }

    .pagination-controls .col:nth-child(3), .pagination-controls .col:nth-child(4), .pagination-controls .col:nth-child(5) {
        margin-top: 10px;
    }

    .pagination-controls .col:nth-child(3) .col:nth-child(2) {
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.pagination-controls label {
    font-weight: bold;
}

.pagination {
    display: inline-block;
}

.pagination i {
    height: inherit;
}

.pagination button {
    overflow: hidden;
    color: #3561a3;
}

.dark-theme .pagination button {
    color: #0099ff;
}

.pagination .btn-prev {
    padding-right: 10px;
    border-right: 1px solid #d9d9d9;
}

.pagination .btn-next {
    padding-left: 10px;
    border-left: 1px solid #d9d9d9;
}

.pagination-select {
    display: inline-block;
}

.total, .page-of {
    margin-right:30px;
    font-weight: bold;
}

.list-page .action:hover {
    cursor: initial;
}

.pagination-table .list-table {
    table-layout: fixed;
}

.pagination-table .list-table td {
    text-overflow: ellipsis;
    white-space: nowrap;
}