*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.3);
}

html {
    height: 101%
}

body {
    display: block;
    background-color: #f8f8f8;
    color: #555;
    font-family: 'Titillium Web', Arial, Courier, Times, Helvetica, Verdana, Sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

@media only screen and (max-width:1024px) {
    body {
        font-size: 12px;
    }
}

@media only screen and (max-width:768px) {
    body {
        padding: 0 5px;
    }
}

body.dark-theme {
    background-color: #222;
    color: #e3e3e3;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

/* Tables */
table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    text-align: left;
}

table input {
    height: auto;
}

th {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    cursor: pointer;
    padding: 5px 15px 0 15px;
}

th:first-child {
    padding: 5px 5px 0 5px;
}

th:last-child {
    padding: 5px 5px 0 5px;
}

table.unstyled {
    border: initial;
    border-collapse: collapse;
    word-wrap: break-word;
}

table.unstyled td {
    border: 1px solid #ddd;
}

tr {
    border-bottom: 1px solid #ddd;
}

.dark-theme tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.data-row {
    position: relative;
}

.data-row:hover {
    background-color: #f0f0f0;
}

.dark-theme .data-row:hover {
    background-color: #252525;
}

tr:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* tr:nth-child(even) {
    background-color: #fcfcfc;
} */

td {
    height: auto;
    padding: 5px 15px;
    border: none;
    overflow: hidden;
}

td:first-child,
td:last-child {
    padding: 5px 5px;
}

tfoot {
    display: none
}

.tr-highlight {
    background-color: #e5e5e5;
}

.dark-theme .tr-highlight {
    background-color: #1c1c1c;
}

.id-col {
    max-width: 0;
    width: 0;
    overflow: hidden;
    display: none !important;
}

.check-cell {
    width: 30px;
    padding: 0 5px 0 0;
}

.number-col {
    padding-right: 0px;
}

.check-col,
.number-col {
    min-width: 35px;
    width: 35px;
    text-align: center;
}

table.list-table {
    font-weight: 400;
}

@media only screen and (max-width:414px) {
    table.list-table,
    .list-table th,
    .list-table td,
    .list-table tr {
        display: block;
        float: left;
        width: 100% !important;
        
    }

    .list-table tr {
        border: 1px solid #ddd;
    }

    .list-table th {
        background-color: #ececec;
    }

    .list-table td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        width: 100%;
        text-align: right;
    }

    .list-table td span {
        float: left;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .list-table th.btn-sort,
    .list-table th.action,
    .list-table th.number-col {
        display: none;
    }

    .check-cell,
    .number-col {
        text-align: left !important;
        padding: 5px 15px;
        font-weight: bold;
    }

    .list-table table input[type="checkbox"] {
        vertical-align: middle;
    }

    .list-table td:first-child,
    .list-table td:last-child {
        padding: 5px 15px;
    }
}

/* Text */
a,
a:visited {
    text-decoration: none;
    color: #0099ff;
}

.dark-theme a,
.dark-theme a:visited {
    color: #0099ff;
}

a:hover,
a:focus,
a:active {
    color: #999;
}

.dark-theme a:hover,
.dark-theme a:focus,
.dark-theme a:active {
    color: #999;
}

ul,
ol {
    list-style: outside
}

ul.list-unstyled,
ol.list-unstyled {
    list-style: none
}

ul.list-style-inside,
ol.list-style-inside {
    list-style: inside
}

ul.list-style-check,
ol.list-style-check {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: inherit
}

.heading-small {
    font-size: 21px;
    line-height: 21px;
}

.heading-medium {
    font-size: 28px;
    line-height: 28px;
}

.heading-large {
    font-size: 36px;
    line-height: 36px;
}

.heading-xl {
    font-size: 42px;
    line-height: 42px;
}

.text-center {
    text-align: center !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-underline {
    text-decoration: underline
}

.text-small {
    font-size: 12px;
    line-height: 18px;
}

.text-medium {
    font-size: 18px;
    line-height: 18px;
}

.text-large {
    font-size: 24px;
    line-height: 24px;
}

.text-black {
    color: #333333;
}

.text-white {
    color: #ffffff;
}

.text-green {
    color: #32ce32;
}

.text-red {
    color: #d64c4c;
}

.text-blue {
    color: #3d7cda;
}

.text-orange {
    color: #ff5e00;
}

.text-purple {
    color: #8e1aa5;
}

.text-brown {
    color: #a5702a;
}

.text-grey {
    color: #808080;
}

.text-pink {
    color: #ffacba;
}

.text-yellow {
    color: #fdfd00;
}

/* Background Colors */
.bkg-black {
    background-color: #333333;
}

.bkg-white {
    background-color: #ffffff;
}

.bkg-green {
    background-color: #32ce32;
}

.bkg-red {
    background-color: #d64c4c;
}

.bkg-blue {
    background-color: #3d7cda;
}

.bkg-orange {
    background-color: #ff5e00;
}

.bkg-purple {
    background-color: #8e1aa5;
}

.bkg-brown {
    background-color: #a5702a;
}

.bkg-grey {
    background-color: #808080;
}

.bkg-pink {
    background-color: #ffacba;
}

.bkg-yellow {
    background-color: #fdfd00;
}

/* Wrappers, Main */
.main {
    display: flex;
    flex-flow: row nowrap;
    float: left;
    width: 100%;
    height: 100%;
    text-align: left;
}

.wrapper {
    position: relative;
    width: 1000px;
    margin: auto;
}

/* Wrappers, Main */
.row,
.flex-row,
.col-10,
.col-20,
.col-30,
.col-40,
.col-50,
.col-60,
.col-70,
.col-80,
.col-90 {
    position: relative;
    float: left;
}

.row,
.flex-row {
    width: 100%;
}

.col-5 {
    width: 5%;
}

.col-10 {
    width: 10%;
}

.col-14 {
    width: 14.28%;
}

.col-16 {
    width: 16.66%;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: 33.33%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-90 {
    width: 90%;
}

.col-95 {
    width: 95%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.space-even {
    justify-content: space-evenly;
}

.size-even {
    flex: 1;
    flex-basis: 0;
    flex-grow: 1;
}

.stretch {
    align-items: stretch;
}

.inline {
    vertical-align: middle;
    display: inline-block;
    line-height: 30px;
}

.pad-top-5 {
    padding-top: 5px;
}

.pad-top-10 {
    padding-top: 10px;
}

.pad-top-15 {
    padding-top: 15px;
}

.pad-top-20 {
    padding-top: 20px;
}

.pad-top-25 {
    padding-top: 25px;
}

.pad-top-30 {
    padding-top: 30px;
}

.pad-top-60 {
    padding-top: 60px;
}

.pad-top-120 {
    padding-top: 120px;
}

.pad-bottom-5 {
    padding-bottom: 5px;
}

.pad-bottom-10 {
    padding-bottom: 10px;
}

.pad-bottom-15 {
    padding-bottom: 15px;
}

.pad-bottom-20 {
    padding-bottom: 20px;
}

.pad-bottom-25 {
    padding-bottom: 25px;
}

.pad-bottom-30 {
    padding-bottom: 30px;
}

.pad-bottom-60 {
    padding-bottom: 60px;
}

.pad-bottom-120 {
    padding-bottom: 120px;
}

.pad-ver-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad-ver-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-ver-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pad-ver-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-ver-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.pad-ver-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pad-ver-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pad-ver-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.pad-left-5 {
    padding-left: 5px;
}

.pad-left-10 {
    padding-left: 10px;
}

.pad-left-15 {
    padding-left: 15px;
}

.pad-left-20 {
    padding-left: 20px;
}

.pad-left-25 {
    padding-left: 25px;
}

.pad-left-30 {
    padding-left: 30px;
}

.pad-left-60 {
    padding-left: 60px;
}

.pad-left-120 {
    padding-left: 120px;
}

.pad-right-5 {
    padding-right: 5px;
}

.pad-right-10 {
    padding-right: 10px;
}

.pad-right-15 {
    padding-right: 15px;
}

.pad-right-20 {
    padding-right: 20px;
}

.pad-right-25 {
    padding-right: 25px;
}

.pad-right-30 {
    padding-right: 30px;
}

.pad-right-60 {
    padding-right: 60px;
}

.pad-right-120 {
    padding-right: 120px;
}

.pad-hor-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.pad-hor-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.pad-hor-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.pad-hor-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pad-hor-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.pad-hor-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.pad-hor-60 {
    padding-left: 60px;
    padding-right: 60px;
}

.pad-hor-120 {
    padding-left: 120px;
    padding-right: 120px;
}

.space-top-5 {
    margin-top: 5px;
}

.space-top-10 {
    margin-top: 10px;
}

.space-top-15 {
    margin-top: 15px;
}

.space-top-20 {
    margin-top: 20px;
}

.space-top-25 {
    margin-top: 25px;
}

.space-top-30 {
    margin-top: 30px;
}

.space-top-60 {
    margin-top: 60px;
}

.space-top-120 {
    margin-top: 120px;
}

.space-bottom-5 {
    margin-bottom: 5px;
}

.space-bottom-10 {
    margin-bottom: 10px;
}

.space-bottom-15 {
    margin-bottom: 15px;
}

.space-bottom-20 {
    margin-bottom: 20px;
}

.space-bottom-25 {
    margin-bottom: 25px;
}

.space-bottom-30 {
    margin-bottom: 30px;
}

.space-bottom-60 {
    margin-bottom: 60px;
}

.space-bottom-120 {
    margin-bottom: 120px;
}

.space-ver-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.space-ver-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.space-ver-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.space-ver-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.space-ver-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.space-ver-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.space-ver-35 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.space-ver-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.space-ver-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.space-ver-120 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.space-left-5 {
    margin-left: 5px;
}

.space-left-10 {
    margin-left: 10px;
}

.space-left-15 {
    margin-left: 15px;
}

.space-left-20 {
    margin-left: 20px;
}

.space-left-25 {
    margin-left: 25px;
}

.space-left-30 {
    margin-left: 30px;
}

.space-left-60 {
    margin-left: 60px;
}

.space-left-120 {
    margin-left: 120px;
}

.space-right-5 {
    margin-right: 5px;
}

.space-right-10 {
    margin-right: 10px;
}

.space-right-15 {
    margin-right: 15px;
}

.space-right-20 {
    margin-right: 20px;
}

.space-right-25 {
    margin-right: 25px;
}

.space-right-30 {
    margin-right: 30px;
}

.space-right-60 {
    margin-right: 60px;
}

.space-right-120 {
    margin-right: 120px;
}

.space-hor-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.space-hor-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.space-hor-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.space-hor-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.space-hor-25 {
    margin-left: 25px;
    margin-right: 25px;
}

.space-hor-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.space-hor-60 {
    margin-left: 60px;
    margin-right: 60px;
}

.space-hor-120 {
    margin-left: 120px;
    margin-right: 120px;
}

.pull-right {
    position: relative;
    float: right !important
}

.pull-left {
    position: relative;
    float: left !important
}

/* Horizontal Rule */
hr {
    border: none;
    border-top: 1px solid #8c8b8b;
}

hr.clear {
    border-top: none;
    border-bottom: none
}

hr.basic {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

hr.fade {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

hr.curly {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.curly:before {
    display: block;
    content: '';
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.glyph {
    padding: 0;
    border: none;
    border-top: medium double #555;
    color: #555;
    text-align: center;
}

hr.glyph:after {
    content: "\f1b0";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    font-family: 'Font Awesome 5 Free';
}

hr.dual {
    border-top: 3px double #8c8b8b;
}

hr.dual-sizable:after {
    content: '';
    display: block;
    margin-top: 6px;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}

hr.dashed {
    border-top: 1px dashed #8c8b8b;
}

hr.dashed-line {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

hr.dotted {
    border-top: 1px dotted #8c8b8b;
}

/* Alerts */
.alert {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 30px 0 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    line-height: 25px;
    text-align: left
}

.alert strong {
    text-transform: capitalize;
}

.alert.success {
    background-color: #76d769;
}

.alert.error {
    background-color: #ff6868;
}

.alert.warning {
    background-color: #ffc547;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.alert.info {
    background-color: #68a8ff;
}

.alert-inline {
    position: absolute;
    float: none;
    top: 125%;
    left: -16px;
    z-index: 100;
    min-width: 100px;
    width: auto;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #777;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    font-size: 12px
}

.alert-inline {
    background-color: #ff6868;
    border-color: #ff6868;
    box-shadow: none;
    color: #fff
}

.alert-inline::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 9px;
    width: 12px;
    height: 12px;
    background-color: #ff6868;
    border-top: 1px solid #ff6868;
    border-right: 1px solid #ff6868;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.alert button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}

.password-strength {
    position: absolute;
    top: 8px;
    right: 75px;
    visibility: visible;
    font-size: 11px;
    text-align: center
}

/* Loading */
.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    text-align: center;
}

.dark-theme .loading {
    background-color: rgba(46, 48, 52, 1);
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    z-index: 101;
    font-size: 40px;
    line-height: 40px;
    color: #2777c9
}

.loading-spinner img {
    width: 100%
}

/* To-top */
.to-top {
    position: fixed;
    opacity: 0;
    left: 20px;
    top: -100px;
    z-index: 100;
    width: 220px;
    height: 30px;
    border-radius: 4px;
    background: #3561a3;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.to-top.visible {
    top: 20px;
    opacity: 1;
}

/* Work  Area*/
.workarea {
    flex: 1;
    float: left;
    padding: 15px;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

@media only screen and (max-width:768px) {
    .workarea {
        flex: none;
        width: 100%;
        padding: 10px;
    }
}

.main-title {
    float: left;
    width: 100%;
}

/* Dashboard */
.panel-btns {
    position: absolute;
    top: 0;
    right: 0;
}

.panel-btns .left {
    float: right;
    width: 400px;
}

.panel-btns .right {
    float: right;
    width: 130px;
}

/* Panels */
.panel {
    position: relative;
    float: left;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #555;
}

.dark-theme .panel {
    background-color: #555;
    border: 1px solid #777;
    color: #eee;
}

.panel-title {
    float: left;
    padding: 15px 15px 0 15px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.panel-title i {
    height: 27px;
    vertical-align: middle;
    font-size: 24px;
    color: #ff5e00;
}

.panel-title a,
.panel-title a:visited {
    color: #555;
}

.dark-theme .panel-title {
    background-color: #2b2b2b;
}

.panel-content {
    float: left;
    width: 100%;
    padding: 25px 35px;
}

@media only screen and (max-width:768px) {
    .panel-content {
        padding: 0;
    }
}

.panel-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 0 15px 15px 15px;
    font-size: 12px;
}

.dark-theme .panel-footer {
    background-color: #2b2b2b;
    border-top: 1px solid #777;
}

.panel-footer a,
.panel-footer a:visited {
    float: left;
    text-align: center;
}


@media only screen and (max-width:1366px) {
    .panel-footer a,
    .panel-footer a:visited {
        padding: 0 5px;
    }
}

@media only screen and (max-width:1024px) {
    .panel-footer a,
    .panel-footer a:visited {
        padding: 0 20px;
    }
}

.color-bubble {
    color: #fff;
    border-radius: 4px;
}

.color-bubble span {
    font-size: 56px;
    line-height: 56px;
}

.color-bubble span:nth-child(4) {
    font-size: 21px;
    line-height: 21px;
}

.color-bubble a {
    color: #fff;
}

.main-controls {
    padding: 5px 0;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.main-controls .btn {
    float: left;
    margin-right: 5px;
}

.main-controls select {
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
}

.main-controls hr {
    float: left;
    width: 1px;
    height: 30px;
    margin: 0 10px 0 5px;
    background-color: #ddd;
    border: none;
}

.log {
    overflow: hidden;
    margin: 0 0 10px 0;
    background-color: #fff;
    max-height: 250px;
    font-size: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dark-theme .log {
    background-color: #555;
    border: 1px solid #777;
}

.log-title {
    float: left;
    font-size: 13px;
    line-height: 24px;
    font-weight: bold;
}

.log-title i {
    line-height: 24px;
}

.log-title i:hover {
    cursor: pointer;
}

.scrollarea {
    overflow: hidden;
    float: left;
    width: 100%;
    height: 250px;
}

.scrollarea:hover {
    overflow-y: scroll;
}

/* User */
.account-left {
    float: left;
    width: 39%;
    margin-right: 1%;
    font-size: 16px;
}

@media only screen and (max-width:768px) {
    .account-left {
        width: 100%;
        margin-right: 0;
    }
}

.account-right {
    float: right;
    width: 59%;
    font-size: 16px;
}

.account-controls {
    float: left;
    width: 50px;
    margin: 0 0 0 15px;
}

.account-controls .btn {
    margin: 0 0 5px 0;
}

.account-info {
    padding: 15px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.account-avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 20px 0 0;
}

.account-avatar img {
    width: 100%;
}

.account-btns {
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.account-info p {
    float: right;
}

.is-online i {
    margin-right: 5px;
}

/* Settings */
.settings-area strong {
    font-size: 21px;
    line-height: 21px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

#settings-form {
    text-align: left;
}

.dark-theme .settings-row,
.dark-theme .form-row {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.settings-col-left {
    float: left;
    width: 16%;
}

.settings-col-right {
    float: left;
    width: 84%;
}

@media only screen and (max-width:1024px) {
    .settings-area .info-col {
        width: 100%;
        margin: 0;
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Not Found */
.not-found-page-body {
    background: url(../images/monkey.png) no-repeat bottom right;
}

/* Account */
.user-form {
    position: relative;
    width: 30%;
    margin: 7% auto;
}

@media only screen and (max-width:768px) {
    .user-form {
        position: relative;
        float: left;
        width: 98%;
        margin: 7% 1%;
    }
}

.login-form,
.signup-form,
.reset-form,
.resend-form {
    padding: 25px 35px;
    border-radius: 4px;
    background-color: #edf0f5;
    border: 1px solid #d9d9d9;
    color: #555;
}

.dark-theme .login-form,
.dark-theme .signup-form,
.dark-theme .reset-form,
.dark-theme .resend-form {
    background-color: #455269;
    border: 1px solid #555c4d;
    color: #eee;
}

.account {
    float: left;
    width: 100%
}

.account-page-links {
    float: right;
}

.account-page-link {
    float: left;
    margin-left: 15px;
}

.account-left-panel {
    float: left;
    width: 20%;
    text-align: center
}

.account-right-panel {
    float: left;
    width: 80%
}

.account .form-row.right {
    max-width: 50%
}

.account .label-col {
    width: 20%;
}

.account .input-col {
    width: 80%;
}

.account .label-col span {
    float: left;
    margin: 10px 0 0 0;
}

.avatar {
    width: 128px;
    height: 128px;
    margin: auto;
    border: 1px solid #aaa;
}

.avatar a {
    float: left;
    width: 100%;
    margin-top: 5px;
    text-decoration: underline
}

.upload-box {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: 350px;
    padding: 13px;
    margin: 25px 0 0 25px;
    border: 1px solid #aaa;
    border-radius: 5px
}

.btn-upload {
    position: absolute;
    top: 7px;
    right: 13px
}