/* Forms */
.form label {
    display: inline-block;
    margin: 0 0 3px 0;
    font-size: 13px;
    font-weight: 600;
}

.form label.inline {
    margin: 0;
    line-height: 27px;
}

.form label.required:after {
    margin-left: 3px;
    content: '\f069';
    color: #ff0000;
    font-family: 'Font Awesome 5 Free';
    font-size: 10px
}

input,
textarea,
select {
    overflow: hidden;
    padding: 0 15px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.1);
    color: #333;
    font-family: 'Titillium Web';
    font-size: inherit;
    font-weight: inherit;
    line-height: 27px;
    letter-spacing: inherit;
}

.dark-theme input,
.dark-theme textarea,
.dark-theme select {
    background-color: #444;
    border: 1px solid #222;
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.5);
    color: #e3e3e3;
}

input[type="checkbox"] {
    box-shadow: none;
}

input[type="radio"] {
    box-shadow: none;
    vertical-align: -6px;
}

input[type="submit"] {
    cursor: pointer;
    letter-spacing: inherit
}

textarea {
    padding: 10px 15px 0 15px;
    min-height: 175px;
    height: auto;
}

select {
    padding: 0px 9px;
    text-indent: 0px;
}

option {
    height: 27px;
    line-height: 27px;
}

.dark-theme ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eee;
    opacity: 1;
    /* Firefox */
}

.dark-theme :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #eee;
}

.dark-theme ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #eee;
}

.label-col,
.input-col {
    position: relative;
    float: left;
}

.label-col label,
.info-col {
    height: 27px;
    line-height: 27px;
    margin: 0;
}

.info-col {
    float: left;
    margin-left: 50px;
    color: #777;
}

.show-pw {
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -14px 0 0 0;
    z-index: 100;
    color: #777;
    font-size: 18px;
    cursor: pointer
}

.red-herring {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden
}

.input-attached-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-attached-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}