<div class="row space-bottom-15 workarea-buttons">
    <a href="" class="btn btn-basic btn-goback pull-left" title="Back"><i class="fas fa-arrow-left fa-fw"></i> Back</a>
    <a href="" class="btn btn-basic pull-left" title="Refresh"><i class="fas fa-sync-alt fa-fw"></i> Refresh</a>
    <a href="/" class="btn btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw"></i> Close</a>
</div>