<?= $header; ?>
<main class="main home-page">
    <?= $nav; ?>
    <div class="workarea">
        <div class="flex-row space-bottom-15">
            <div class="panel space-right-15 size-even text-center">
                <div class="panel-title"><a href="/users"><i class="fas fa-users fa-fw"></i> USERS (<?= $total_users; ?>)</a></div>
                <div class="panel-btns pad-top-15 pad-right-15">
                    <a href="/admin/users" class="btn btn-default btn-small pull-right">View more</a>
                </div>
                <div class="flex-row panel-content user-panel">
                    <div class="size-even text-center">
                        Registered 
                        <span class="row"><?= $registered; ?></span>
                    </div>
                    <div class="size-even">
                        Moderators
                        <span class="row"><?= $mods; ?></span>
                    </div>
                    <div class="size-even">
                        Administrators
                        <span class="row"><?= $admins; ?></span>
                    </div>
                    <div class="size-even">
                        Banned
                        <span class="row"><?= $banned; ?></span>
                    </div>
                </div>
            </div>
            <div class="panel space-right-15 size-even text-center">
                <div class="panel-title"><a href="/settings"><i class="fas fa-cog fa-fw"></i> SETTINGS</a></div>
                    <div class="flex-row panel-content text-left settings-panel">
                    <div class="row"><span>Site Name: <?= $sitename; ?></span></div>
                    <div class="row"><span>Language: <?= $language; ?></span></div>
                    <div class="row"><span>Theme: <?= $theme; ?></span></div>
                    <div class="row"><span>Maintenance Mode: <?= $maintenance; ?></span></div>
                </div>  
                <div class="dash-container-footer"><a href="/admin/settings" class="pull-right">View more</a></div>
            </div>
        </div>
        <div class="flex-row space-bottom-15">
            <div class="panel space-right-15 size-even text-center">
                <div class="panel-title"><a href="/pages"><i class="far fa-newspaper fa-fw"></i> PAGES (<?= $total_pages; ?>)</a></div>
                    <div class="flex-row panel-content text-center page-panel">
                    <div class="row"><span>Total Views: <?= $page_views; ?></span></div>
                    <div class="row"><span>Most Viewed: <a href="/admin/pages/<?= $mv_page_name; ?>"><?= $mv_page_title; ?></a> (<?= $mv_page_views; ?>)</span></div>
                    <div class="row"><span>Last Edited: <a href="/admin/pages/<?= $lpe_name; ?>"><?= $lpe_title; ?></a></span></div>
                    <div class="row"><span>Last Made: <a href="/admin/pages/<?= $lpm_name; ?>"><?= $lpm_title; ?></a></span></div>
                </div>  
                <div class="dash-container-footer"><a href="/admin/pages/new" class="space-right-15">New page</a><a href="/admin/pages" class="pull-right">View more</a></div>
            </div>
            <div class="panel space-right-15 size-even text-center">
                <div class="panel-title"><a href="/blog"><i class="fab fa-blogger fa-fw"></i> BLOG (<?= $total_posts; ?>)</a></div>
                    <div class="flex-row panel-content text-center blog-panel">
                    <div class="row"><span>Total Views: <?= $blog_views; ?></span></div>
                    <div class="row"><span>Most Viewed: <a href="<?= $mv_blog_route; ?>"><?= $mv_blog_title; ?></a></span></div>
                    <div class="row"><span>Last Edited: <a href="/admin/blog/<?= $le_id; ?>/edit"><?= $le_title; ?></a></span></div>
                    <div class="row"><span>Last Post: <a href="/admin/blog/<?= $lp_id; ?>/edit"><?= $lp_title; ?></a></span></div>
                </div>
                <div class="dash-container-footer"><a href="/admin/blog/new" class="space-right-15">New blog</a><a href="/admin/blog" class="pull-right">View more</a></div>
            </div>
        </div>
        <div class="row space-bottom-15">
            <div class="row panel">
                <div class="panel-title"><i class="fas fa-clipboard-list fa-fw"></i> LOGS</div>
                <div class="panel-content">
                    <div class="panel-btns pad-top-15 pad-right-15">
                        <?php if ($user_group > 2): ?>
                        <button type="button" class="btn btn-default btn-small btn-clear-logs pull-right"><i class="fas fa-eraser fa-fw"></i> Clear Logs</button>
                        <?php endif ?>
                        <div class="log-response"></div>
                    </div>
                    <div class="row log">
                        <div class="scrollarea">
                            <table class="table pull-left log-table">
                                <tr>
                                    <th class="number-col">#</th>
                                    <th style="width: 250px;">Time</th>
                                    <th>Event</th>
                                </tr>
                                <?php foreach ($logs as $log) : ?>
                                <tr class="log-row">
                                    <td class="number-col"><?= $log['log_id']; ?></td>
                                    <td style="width: 250px;"><?= $log['time']; ?></td>
                                    <td><?= $log['event']; ?></td>
                                </tr>
                                <?php endforeach ?>  
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php if ($user_group > 2): ?>
        <div class="row space-bottom-15">
            <div class="row panel">
                <div class="panel-title"><i class="fas fa-exclamation-triangle fa-fw"></i> ERRORS</div>
                <div class="panel-content">
                    <div class="panel-btns pad-top-15 pad-right-15">
                        <button type="button" class="btn btn-default btn-small btn-clear-errors pull-right"><i class="fas fa-eraser fa-fw"></i> Clear Errors</button>
                        <div class="error-response"></div>
                    </div>
                    <div class="row log">
                        <div class="scrollarea">
                            <table class="table pull-left log-table">
                                <tr>
                                    <th class="number-col">#</th>
                                    <th style="width: 250px;">Time</th>
                                    <th>Event</th>
                                </tr>
                                <?php foreach ($errors as $error) : ?>
                                <tr class="error-row">
                                    <td class="number-col"><?= $error['error_id']; ?></td>
                                    <td style="width: 250px;"><?= $error['time']; ?></td>
                                    <td><?= $error['event']; ?></td>
                                </tr>
                                <?php endforeach ?>  
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php endif ?>
    </div>
</main>
<script type="text/javascript">

$('body').on('click', '.fa-caret-right', function() {
    $(this).removeClass('fa-caret-right').addClass('fa-caret-down');
    $(this).parent().siblings('.log').css({'height':'0', 'padding':'0', 'border':'none', 'border-top':'1px solid #ccc'});
});

$('body').on('click', '.fa-caret-down', function() {
    $(this).removeClass('fa-caret-down').addClass('fa-caret-right');
    $(this).parent().siblings('.log').removeAttr('style');
});
    
$('body').on('click', '.btn-clear-logs', function() {
    if (confirm('Are you sure you want to clear the logs?')) {
        $.get('/admin/dashboard/clearLog', function(response) {
            if (isJson(response)) {
                var json = JSON.parse(response);
                $('.loading').remove();
                $('.log-response').html('<div class="alert ' + json.alert + '"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
                $('.log-row').html('');
            } 
        });
    }
});

$('body').on('click', '.btn-clear-errors', function() {
    if (confirm('Are you sure you want to clear the errors?')) {
        $.get('/admin/dashboard/clearErrors', function(response) {
            if (isJson(response)) {
                var json = JSON.parse(response);
                $('.loading').remove();
                $('.error-response').html('<div class="alert ' + json.alert + '"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
                $('.error-row').html('');
            } 
        });
    }
});

$('body').on('click', '.log-row', function() {
    $('tr').removeAttr('style');
    $('.log-row').removeClass('tr-highlight');
    $(this).addClass('tr-highlight');
});

$('body').on('click', '.error-row', function() {
    $('tr').removeAttr('style');
    $('.error-row').removeClass('tr-highlight');
    $(this).addClass('tr-highlight');
});

</script>
<?= $footer; ?>