<?= $header; ?>
<main class="main list-page">
    <?= $nav; ?>
    <div class="workarea">
        <?= $buttons; ?>
        <input type="hidden" name="table" value="<?= $table; ?>" id="table">
        <input type="hidden" name="orderby" value="<?= $orderby; ?>" id="orderby">
        <input type="hidden" name="direction" value="<?= $direction; ?>" id="direction">
        <input type="hidden" name="page" value="<?= $page; ?>" id="page">
        <input type="hidden" name="start" value="<?= $start; ?>" id="start">
        <input type="hidden" name="record_limit" value="<?= $record_limit; ?>" id="record-limit">
        <input type="hidden" name="total_pages" value="<?= $total_pages; ?>" id="total-pages">
        <input type="hidden" name="total_records" value="<?= $total_records; ?>" id="total-records">
        <div class="panel">
            <div class="panel-title"><i class="fas fa-list fa-fw"></i> LIST</a></div>
            <div class="panel-content">
                <div class="row main-controls"><?= $controls; ?></div>
                <div class="row main-panel">
                    <div class="row alert-area"></div>
                    <?= $pagination; ?>          
                    <div class="row pagination-table space-ver-15">
                        <?= $list; ?>
                    </div>
                    <?= $pagination; ?>       
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

var inputs = $('input').serializeArray();

Pagination.init(inputs);
MainControls.init(); 

$(window).on('resize', function() {
    Pagination.adjustForMobile();
});

</script>
<?= $footer; ?>