<?= $header; ?>
<main class="main forgot-page">
    <div class="row pad-top-60 pad-bottom-60">
        <div class="wrapper">
            <div class="col user-form text-center">
                <div class="row reset-form">
                    <h1 class="pad-bottom-15 heading-medium text-center">Request Password Reset</h1>
                    <div class="alert-area"></div>
                    <form id="send-request-form" class="row fancy-form">
                        <div class="row fancy-row space-bottom-15 email">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="row" required>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-default btn-send row"><i class="fas fa-paper-plane fa-fw"></i> Send Request</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#send-request-form').validator({formButton : '.btn-send', checkEmailTaken : false});
$('#send-request-form').fancyForm();

$('body').on('click', '.btn-send', function() {
    $.post('/account/sendRecoveryMail', $('#send-request-form').serialize(), function(response) {
        if (isJson(response)) {
            var json = JSON.parse(response);
            $('.alert-area').html('<div class="row space-bottom-15 alert ' + json.alert + '">' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button></div>');
        }
    });
});

</script>