<?= $header; ?>
<main class="main register-page">
    <div class="row pad-top-15 pad-bottom-15">
        <div class="wrapper">
            <div class="col user-form text-center">
                <div class="row signup-form">
                    <form id="signup-form" class="row fancy-form">
                        <h1 class="pad-bottom-15 heading-medium text-center">Join <?= $sitename; ?></h1>
                        <div class="alert-area"></div>
                        <div class="row fancy-row space-bottom-15 username">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="row" required>
                        </div>
                        <div class="row fancy-row space-bottom-15 email">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="row" required>
                        </div>
                        <div class="row fancy-row space-bottom-15 password">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="row" required>
                            <div class="show-pw"><i class="fas fa-eye fa-fw" title="Show password"></i></div>
                        </div>
                        <div class="row fancy-row space-bottom-15 confirm">
                            <label for="confirm">Repeat Password</label>
                            <input type="password" name="confirm" id="confirm" class="row" required>
                        </div>
                        <div class="row space-bottom-15">
                            <button type="button" class="btn btn-default btn-go btn-signup row" disabled><i class="fas fa-pencil-alt fa-fw"></i> Signup</button>
                        </div>
                        <p class="text-small text-left">By signing up with <?= $sitename; ?>, you are agreeing to our <a href="/information/terms">terms of service</a> and <a href="/information/privacy">privacy policy</a>.</p>
                        <hr class="row space-top-15 space-bottom-30">
                        <div class="row space-bottom-15 text-center">
                            <p class="row space-bottom-15">Already have an account?</p>
                            <a href="/login" class="btn btn-default row"><i class="fas fa-sign-in-alt fa-fw"></i> Login</a>
                        </div>
                        <input type="text" name="red_herring" class="red-herring">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

    $('#signup-form').validator({formButton : '.btn-signup'});
    $('#signup-form').fancyForm();
    
    $('body').on('click', '.btn-signup', function() {
        $.post('/signup/validate', $('#signup-form').serialize(), function(response) {
            if (isJson(response)) {
                var json = JSON.parse(response);
                $('.alert-area').html('<div class="alert ' + json.alert + ' row text-left space-bottom-15"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
            }
        });
    });
    
    </script>
    <?= $footer; ?>