    <footer class="footer">
        <div class="wrapper">
            <div class="row">
                <a href="/sitemap">Site Map</a>
                <?php foreach ($links as $link): ?>
                <?php if ($link['bottom'] && !$link['children']): ?>
                <a href="<?= $link['route']; ?>" class="nav-link <?= $link['class']; ?>"><?= $link['nav_name']; ?></a>
                <?php endif ?>
                <?php endforeach ?>
            </div>
        </div>
    </footer>
</body>
</html>