<a href="/admin/calendar/new" class="btn btn-default btn-new" title="New"><i class="fas fa-plus fa-fw"></i> New</a>
<a href="/admin/" class="btn btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw"></i></a>
<a href="" class="btn btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw"></i></a>