<table class="list-table">
    <tr>
        <th class="text-center number-col">#</th>
        <th class="text-center check-cell"><input type="checkbox" id="check-all"></th>
        <th class="btn-sort text-center id-col">ID</th>
        <th class="btn-sort">Event</th>
        <th class="btn-sort">Start</th>
        <th class="btn-sort">End</th>
    </tr>
    <?php foreach ($events as $event): ?>
    <tr class="data-row">
        <td class="text-center number-col"></td>
        <td class="text-center check-cell">
            <input type="checkbox" name="event_check<?= $event['event_id']; ?>" value="<?= $event['event_id']; ?>" class="checkbox">
        </td>
        <td class="text-center id-col"><?= $event['event_id']; ?></td>
        <td><?= $event['event']; ?></td>
        <td><?= $event['start']; ?></td>
        <td><?= $event['end']; ?></td>
    </tr>
    <?php endforeach ?>
</table>
<script type="text/javascript">

$('.is-online').each(function() {
    if ($(this).text() == 'Online') {
        $(this).find('i').addClass('text-green').removeClass('text-red');
    }
    if ($(this).text() == 'Offline') {
        $(this).find('i').addClass('text-red').removeClass('text-green');
    }
});

</script>