<?= $header; ?>
<main class="main account-page">
    <div class="row pad-top-60 pad-bottom-60">
        <div class="wrapper">
            <div class="account">
                <h1 class="heading-small pull-left">Account Settings</h1> 
                <div class="account-page-links">
                    <a href="/profile/<?= $username; ?>" class="account-page-link"><i class="fas fa-user fa-fw"></i> Profile</a>
                    <a href="/messages/inbox" class="account-page-link"><i class="fas fa-envelope fa-fw"></i> Messages</a> 
                </div>
                <hr class="row space-bottom-15">
                <div class="account-left-panel">
                    <div class="row">
                        <div class="avatar">
                            <img src="/views/images/uploads/account/<?= $avatar; ?>" alt="Account Avatar" class="row">
                            <form action="/account/uploadAvatar" class="dropzone needsclick dz-clickable" id="dropzone"></form>
                        </div>
                    </div>
                </div>
                <div class="account-right-panel">
                    <div class="alert-area row"></div>
                    <form method="post" id="account-form" class="row">
                        <div class="row space-bottom-15">
                            <div class="label-col">
                                <label for="username">Username:</label>
                            </div>
                            <div class="input-col">
                                <div class="row username">
                                    <input type="text" name="username" placeholder="Username" value="<?= $username; ?>" class="row">
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-15">
                            <div class="label-col">
                                <label for="firstname">Name:</label>
                            </div>
                            <div class="input-col">
                                <div class="row firstname">
                                    <input type="text" name="firstname" value="<?= $firstname; ?>" class="row">
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-15">
                            <div class="label-col">
                                <label for="lastname">Surname:</label>
                            </div>
                            <div class="input-col">
                                <div class="row lastname">
                                    <input type="text" name="lastname" value="<?= $lastname; ?>" class="row">
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-15">
                            <div class="label-col">
                                <label for="email">Email:</label>
                            </div>
                            <div class="input-col">
                                <div class="row email">
                                    <input type="email" name="email" placeholder="Email" value="<?= $email; ?>" class="row">
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-15 pad-bottom-30">
                            <div class="label-col">
                                <label for="website">Website:</label>
                            </div>
                            <div class="input-col">
                                <div class="row website">
                                    <input type="text" name="website" value="<?= $website; ?>" class="row">
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-15 pad-bottom-30">
                            <div class="label-col">
                                <label for="birthday">Date of Birth:</label>
                            </div>
                            <div class="input-col">
                                <div class="row birthday">
                                    <select name="day">
                                        <?php if ($day): ?>
                                        <option value="<?= $day; ?>"><?= $day; ?></option>
                                        <?php endif ?>
                                        <option value="">--</option>
                                        <?php for ($i = 1; $i < 32; $i++): ?>
                                        <option value="<?= $i; ?>"><?= $i; ?></option>
                                        <?php endfor ?>
                                    </select>
                                    <select name="month">
                                        <?php if ($month): ?>
                                        <option value="<?= $month_num; ?>"><?= $month; ?></option>    
                                        <?php endif ?>
                                        <option value="">--</option>
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                    <select name="year">
                                        <?php if ($year): ?>
                                        <option value="<?= $year; ?>"><?= $year; ?></option>    
                                        <?php endif ?>
                                        <option value="">--</option>
                                        <?php for ($i = 2017; $i > 1901; $i--): ?>
                                        <option value="<?= $i; ?>"><?= $i; ?></option>
                                        <?php endfor ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-15 pad-bottom-30">
                            <div class="label-col">
                                <label for="country">Country:</label>
                            </div>
                            <div class="input-col">
                                <div class="row country">
                                    <select name="country">
                                        <?php if ($country_code): ?>
                                        <option value="<?= $country_code; ?>, <?= $country_name; ?>"><?= $country_name; ?></option>    
                                        <?php endif ?>
                                        <option value="">--</option>
                                        <?php foreach ($countries as $country): ?>
                                        <option value="<?= $country['code']; ?>, <?= $country['name']; ?>"><?= $country['name']; ?></option>
                                        <?php endforeach ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-15">
                            <div class="label-col">
                                <label for="privacy">Confirm Logouts:</label>
                            </div>
                            <div class="input-col">
                                <?php if ($logout_setting): ?>
                                <input type="checkbox" name="logout_setting" checked>    
                                <?php else: ?>
                                <input type="checkbox" name="logout_setting">    
                                <?php endif ?>
                            </div>
                        </div>
                        <div class="row space-bottom-15">
                            <div class="label-col">
                                <label for="privacy">Private Account:</label>
                            </div>
                            <div class="input-col">
                                <?php if ($privacy): ?>
                                <input type="checkbox" name="privacy" checked>        
                                <?php else: ?>
                                <input type="checkbox" name="privacy">    
                                <?php endif ?>
                            </div>
                        </div>
                        <div class="row space-bottom-15 pad-bottom-30">
                            <div class="label-col">
                                <label>Gender:</label>
                            </div>
                            <div class="input-col">
                                <div class="row">
                                    <select name="gender">
                                        <?php if ($gender): ?>
                                        <option value="<?= $gender; ?>"><?= $gender; ?></option>   
                                        <?php endif ?>
                                        <option value="">--</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-15">
                            <div class="label-col">
                                <label for="password">Password:</label>
                            </div>
                            <div class="input-col">
                                <div class="row password">
                                    <input type="password" name="password" placeholder="New password" id="password" class="row">
                                    <div class="show-pw"><i class="fas fa-eye fa-fw"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-15 pad-bottom-30">
                            <div class="label-col">
                                <div class="row">
                                    <label for="confirm">Confirm Password:</label>
                                </div>
                            </div>
                            <div class="input-col">
                                <div class="row confirm">
                                    <input type="password" name="confirm" placeholder="Repeat your password" id="confirm" class="row">
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-15">
                            <div class="label-col">
                                <div class="row">
                                    <label for="bio">Bio:</label>
                                </div>
                            </div>
                            <div class="input-col">
                                <div class="row textarea-row">
                                    <textarea type="text" name="bio" class="row" id="bio"><?= $bio; ?></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-15 pad-top-60">
                            <div class="row">
                                <a href="/account" class="btn btn-stop pull-right"><i class="fas fa-ban fa-fw"></i> Cancel</a>
                                <button type="button" class="btn btn-go btn-save pull-right"><i class="fas fa-save fa-fw"></i> Save</button>
                            </div>
                        </div>
                        <input type="text" name="red_herring" class="red-herring">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

var current_username = '';
var current_email = '';

$.get('/account/getAccountData', function(response) {
    if (isJson(response)) {
        var json = JSON.parse(response);

        current_username = json.username.toUpperCase();
        current_email = json.email.toLowerCase();
    }
});

$('#account-form').validator({
    formButton : '.btn-save',
    checkUsernameTaken : false,
    checkEmailTaken : false
});

Dropzone.options.dropzone = {
    paramName: 'avatar', // The name that will be used to transfer the file
    maxFiles: 1,
    dictDefaultMessage: 'Change',
    success: function(file, response) {
        var json = JSON.parse(response);
        $('.alert').remove();
        $('.loading').remove();
        $('.alert-area').html('<div class="alert ' + json.alert + '"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-continue"><i class="fas fa-times fa-fw"></i></button>');
    },
    error: function(file, response) {
        var json = JSON.parse(response);
        $('.alert').remove();
        $('.loading').fadeOut(700);
        $('.alert-area').html('<div class="alert ' + json.alert + '"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-continue"><i class="fas fa-times fa-fw"></i></button>');
    }
};

$('body').on('click', '.btn-save', function() {
    $.post('/account/validate', $('#account-form').serialize(), function(response) {
        if (isJson(response)) {
            var json = JSON.parse(response);
            $('.alert-area').html('<div class="alert ' + json.alert + '"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
            if (json.pw_changed) {
                setTimeout(function () { 
                    window.location.replace('/home');
                }, 5000);
            }
        }
    }).always(function() {
        $('html, body').animate({
            scrollTop: 0
        }, 500);
    });
});

$('.username input').on('keyup change', function() {
    var username = $.trim($('.username').find('input').val().toUpperCase().replace(/\s+/g, ''));
    $.post('/account/checkUsername', $('#account-form').serialize()).done(function(response) { 
        if (username != current_username) {
            if (username.length > 0 && username == response) {
                $('.username .alert-inline').remove();
                $('.username').find('input').css({'border':'1px solid #f15454'});
                $('.username').append('<div class="alert-inline"><div class="alert-inline-arrow"></div>Username taken.</div>');
            }
        }
    });
});

$('.email input').on('keyup change', function() { 
    var email = $.trim($('.email').find('input').val().toLowerCase().replace(/\s+/g, ''));
    $.post('/account/checkEmail', $('#account-form').serialize()).done(function(response) {
        if (email != current_email) {
            if (email.length > 5 && email == response) {
                $('.email .alert-inline').remove();
                $('.email').find('input').css({'border':'1px solid #f15454'});
                $('.email').append('<div class="alert-inline"><div class="alert-inline-arrow"></div>Email taken.</div>');
            }
        }
    });
});

</script>
<?= $footer; ?>