<?= $header; ?>
<main class="main login-page">
    <div class="row pad-top-15 pad-bottom-15">
        <div class="wrapper">
            <div class="col user-form text-center">
                <div class="row login-form">
                    <h1 class="pad-bottom-15 heading-medium text-center">Login to <?= $sitename; ?></h1>
                    <div class="alert-area"></div>
                    <form id="login-form" class="row fancy-form">
                        <div class="row fancy-row space-bottom-15 email">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="row" required>
                        </div>
                        <div class="row fancy-row space-bottom-15">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="row" required>
                            <div class="show-pw"><i class="fas fa-eye fa-fw" title="Show password"></i></div>
                        </div>
                        <div class="row fancy-row">
                            <button type="button" class="btn btn-default btn-go btn-login row" disabled><i class="fas fa-sign-in-alt fw-fw"></i> Login</button>
                        </div>
                        <a href="/account/forgot" class="row space-top-15 text-center">Forgot password?</a>
                        <hr class="row space-top-15 space-bottom-30">
                        <div class="row space-bottom-15">
                            <p class="row space-bottom-15">Don't have an account?</p>
                            <a href="/signup" class="btn btn-default row"><i class="fas fa-pencil-alt fa-fw"></i> Create an account</a>
                        </div>
                        <input type="text" name="red_herring" class="red-herring">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

    $('#login-form').validator({checkEmailTaken : false, formButton : '.btn-login'});
    $('#login-form').fancyForm();
    
    $('body').on('click', '.btn-login', function() {
        $.post('/login/validate', $('#login-form').serialize(), function(response) {
            if (isJson(response)) {
                var json = JSON.parse(response);
                if (json.alert == 'success') {
                    location.replace(json.route);
                } else {
                    $('.alert-area').html('<div class="alert ' + json.alert + ' row text-left space-bottom-15"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
                }
            }
        });
    });
    
</script>
<?= $footer; ?>