<?= $header; ?>
<main class="main reset-page">
    <div class="row pad-top-60 pad-bottom-60">
        <div class="wrapper">
            <div class="col user-form text-center">
                <div class="row reset-form">
                    <h1 class="pad-bottom-15 heading-medium text-center">Reset Your Password</h1>
                    <div class="alert-area"></div>
                    <form id="reset-form" class="row fancy-form change-pw">
                        <div class="row fancy-row space-bottom-15 password">
                            <input type="hidden" name="user_id" value="<?= $user_id; ?>">
                            <input type="hidden" name="token" value="<?= $token; ?>">
                            <label for="password">New password</label>
                            <input type="password" name="password" id="password" class="row" required>
                            <div class="show-pw"><i class="fas fa-eye fa-fw"></i></div>
                        </div>
                        <div class="row fancy-row space-bottom-15 confirm">
                            <label for="confirm">Repeat password</label>
                            <input type="password" name="confirm" id="confirm" class="row" required>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-default btn-save row"><i class="fas fa-save fa-fw"></i> Save</button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#reset-form').validator({formButton : '.btn-save', checkEmailTaken : false});
$('#reset-form').fancyForm({});

$('body').on('click', '.btn-save', function() {
    $.post('/account/saveResetPassword', $('#reset-form').serialize(), function(response) {
        if (isJson(response)) {
            var json = JSON.parse(response);
            $('.alert-area').html('<div class="row space-bottom-15 alert ' + json.alert + '"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
        }
    });
});

</script>