<button type="button" class="btn btn-go btn-save" title="Save Sitemap"><i class="fas fa-save fa-fw"></i> Save</button>
<hr>
<button type="button" class="btn btn-default btn-list-control btn-hide" title="Hide Link" disabled><i class="fas fa-eye-slash fa-fw"></i> Hide</button>
<button type="button" class="btn btn-default btn-list-control btn-show" title="Show Link" disabled><i class="fas fa-eye fa-fw"></i> Show</button>
<hr>
<button type="button" class="btn btn-default btn-refresh"><i class="fas fa-sync-alt fa-fw"></i> Refresh Sitemap</button>
<!-- <a href="/admin/sitemap/generate" class="btn btn-default"><i class="fas fa-sync-alt fa-fw"></i> Refresh Sitemap</a> -->
<a href="/admin/" class="btn btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw"></i></a>
<a href="" class="btn btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw"></i></a>