<div class="col">
    <label>Filter by</label>
    <select class="filter-by">
        <option value="">Select</option>
        <option value="visibility">Visibility</option>
    </select>
</div>
<div class="col space-left-30 filter-dropdown" id="visibility" style="display:none">
    <label>Filter</label>
    <select class="filter">
        <option value="">Select</option>
        <option value="0">Visible</option>
        <option value="1">Hidden</option>
    </select>
</div>