/* Buttons */
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
}

button:disabled, button[disabled], a:disabled, a[disabled] {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    font-family: 'Titillium Web';
}

.btn {
    display: inline-block;
    padding: 0 20px;
    border: none;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
    vertical-align: top;
    line-height: 35px;
    -webkit-appearance: none;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.btn:focus, .btn:active {
    outline: none
}

.btn::-moz-focus-inner {
    border: 0
}

.btn-basic, .btn-basic:visited {
    background-color: #e5e5e5;
    background: -webkit-linear-gradient(#eee, #dedede);
    background: -moz-linear-gradient(#eee, #dedede);
    background: linear-gradient(#eee, #dedede);
    border: 1px solid #9f9f9f;
    box-shadow: inset 0 0 1px 1px #f7f7f7;
    color: #555;
}

.btn-basic:hover {
    background-color: #eee;
    background: -webkit-linear-gradient(#dedede, #eee);
    background: -moz-linear-gradient(#dedede, #eee);
    background: linear-gradient(#dedede, #eee);
    color: #555;
}

.btn-basic:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-default, .btn-default:visited {
    background-color: #d71921;
    border: 2px solid #d71921;
    color: #fff;
}

.btn-default:hover {
    background-color: transparent;
    color: #d71921;
}

.btn-default:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-alt, .btn-alt:visited {
    background-color: #d71921;
    border: 2px solid #fff;
    color: #fff;
}

.btn-alt i {
    overflow: hidden;
    vertical-align: middle;
    line-height: 38px;
    width:0px;
    text-align:center;
    -webkit-transition: all .1s linear;
    -ms-transition: all .1s linear;
    transition: all .1s linear
}

.btn-alt:hover i {
    width:30px;
    margin-right:-15px;
}

.btn-alt:hover {
    background-color: transparent;
    color: #ffd646;
    border: 2px solid #ffd646;
}

.btn-alt:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-go, .btn-go:visited {
    background-color: #5eb24a;
    border: 1px solid #4ea03b;
    box-shadow: inset 0 0 1px 0 #a8ed97;
    color: rgba(255, 255, 255, 1)
}

.btn-go:hover {
    background-color: #58c83d;
    color: rgba(255, 255, 255, 1)
}

.btn-go:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-stop, .btn-stop:visited {
    background-color: #e75858;
    border: 1px solid #d24747;
    box-shadow: inset 0 0 1px 0 #feb3b3;
    color: rgba(255, 255, 255, 1)
}

.btn-stop:hover {
    background-color: #d33838;
    color: rgba(255, 255, 255, 1)
}

.btn-stop:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-transparent, .btn-transparent:visited {
    background-color: transparent;
    color: #777;
}

.btn-transparent:hover {
    background-color: transparent;
    color: #777;
}

.btn-transparent:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-border {
    border: 1px solid #ccc;
}

.btn.pull-right {
    margin: 0 0 0 10px
}

.btn.pull-left {
    margin: 0 10px 0 0
}