/* Footer */
.footer {
    padding: 20px 0;
    background-color: #222;
    color: #dfdfdf;
    font-size: 12px;
}

@media only screen and (max-width:736px) {
    .footer {
        text-align: center;
    }
}

.footer ul li {
    float: left;
    padding-right: 13px;
    margin-left: 13px;
    border-right: 1px solid #555;
}

@media only screen and (max-width:736px) {
    .footer ul li {
        width:100%;
        margin-left:0;
        margin-bottom: 3px;
        padding:0;
        border-right: none;
        border-bottom: 1px solid #555;
    }
}

.footer ul li:first-child {
    margin-left: 0;
}

.footer ul li:last-child {
    border: none;
}

.footer a, .footer a:visited {
    color: #dfdfdf
}

.tech-connection {
    text-align: right;
}

@media only screen and (max-width:736px) {
    .footer-links {
        width:100%;
    }

    .tech-connection {
        width:100%;
        margin-top:30px;
        text-align: center;
    }
}