/* Header */
.header {
    z-index: 999;
    background-color: #fff;
    height: 80px;
    color: #fff;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

@media only screen and (max-width:568px) and (orientation:landscape) {
    .header {
        height: 60px;
    }
}

@media only screen and (max-width:768px) {
    .header {
        padding: 0 15px;
    }
}

/* Logo */
.logo {
    float: left;
    width: 156px;
    height: 90px;
    background: url(../../../../images/logo.png) no-repeat 50% 50%;
    background-color: #d71921;
    background-size: 106px 40px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 10px -2px 20px -10px rgba(0, 0, 0, 0.45), -10px -2px 20px -10px rgba(0, 0, 0, 0.45);
}

@media only screen and (max-width:568px) and (orientation:landscape) {
    .logo {
        width: 135px;
        height: 70px;
        background: url(../../../../images/logo.png) no-repeat 50% 50%;
        background-color: #d71921;
        background-size: 90px 34px;
        border-bottom-left-radius: 3px;
    }
}

/* Navigation */
@media only screen and (max-width:768px) {
    .nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -250px;
        float: initial;
        width: 250px;
        height: 100%;
        padding: 25px 5px;
        background-color: #fff;
        overflow-y:scroll;
        -webkit-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out
    }

    .nav.active {
        left: 0px;
    }
}

.nav ul li {
    position: relative;
    float: left;
    list-style: none;
    margin: 0 3px;
}

@media only screen and (max-width:768px) {
    .nav ul li {
        width: 100%;
        margin: 0 0 5px 0;
    }
}

.nav li a, .nav li a:visited {
    float: left;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    margin: 20px 0;
    border-radius: 3px;
    color: #555;
    line-height: 40px;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

@media only screen and (max-width:768px) {
    .nav li a, .nav li a:visited {
        margin: 0;
    }
}

@media only screen and (max-width:736px) {
    .nav li a, .nav li a:visited {
        font-size: 15px;
    }
}

.nav li a:hover, .nav li a:focus, .nav li a:active {
    background-color: #eeeeee;
}

.nav li a.current {
    background-color: #d71921;
    color: #fff;
}

.dropdown-button i {
    padding-right: 5px;
    font-family: "Font Awesome 5 Free"
}

.dropdown-menu {
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 999;
    overflow: hidden;
    visibility: hidden;
    min-width: 260px;
    max-height: 0px;
    width: auto;
    padding: 0;
    border-style: solid;
    border-width: 2px 1px 1px 1px;
    border-color: #aaa #aaa #aaa #aaa;
    background-color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

@media only screen and (max-width:768px) {
    .dropdown-menu {
        position: relative;
        top: 0px;
        right: auto;
        min-width: 150px;
        padding: 0;
    }
}

.dropdown-menu.active {
    visibility: visible;
    max-height: 300px;
    padding: 5px 0;
}

@media only screen and (max-width:768px) {
    .dropdown-menu.active {
        border: none;
    }
}

.dropdown-menu li {
    width: 100% !important;
    margin:0 !important;
}

.dropdown-menu li a {
    width: 95%;
    height: 40px;
    margin:0 2.5%;
    line-height: 40px;
}

.dropdown-menu li a.current {
    border-bottom: none;
    border-left: 3px solid #d71921;
}

.menu-button {
    display: none;
    float: right;
    color: #333;
    font-size: 24px;
}

@media only screen and (max-width:768px) {
    .menu-button {
        display: block;
        padding: 23px 20px 0 0;
    }
}

@media only screen and (max-width:568px) and (orientation:landscape) {
    .menu-button {
        padding: 12px 20px 0 0;
    }
}