/**
 * Theme CSS
 *
 * This is where the unique css for the theme is. This is for very specific css that will
 * be the core of the themes design. Common things like columns, rows and text will be
 * in the (template.css) file.
 */
 
.wrapper {
    width: 1280px;
}

@media only screen and (max-width:1024px) {
    .wrapper {
        width: 95%;
    }
}

.text-red {
    color: #d71921;
}

ul.list-style-check li:before {
    color: #d71921;
}

/**
 * Homepage
 */
 .site-greeting {
    margin-top:-30px;
    z-index: -1;
    background: url(../../../../images/uploads/pages/home/489898_home.jpg) no-repeat 50% top;
    background-size: 1920px 1080px;
    height: 620px;
    font-weight: 600;
}

@media only screen and (max-width:1366px) {
    .site-greeting {
        height: 500px;
    }
}

@media only screen and (max-width:1280px) {
    .site-greeting {
        height: 530px;
    }
}

@media only screen and (max-width:1024px) {
    .site-greeting {
        height: 430px;
    }
}

@media only screen and (max-width:736px) {
    .site-greeting {
        height: 300px;
    }
}

@media only screen and (max-width:414px) {
    .site-greeting {
        height: 250px;
    }
}

.site-greeting-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
}

.site-greeting-text h1 {
    margin-top: 180px;
    font-size: 90px;
    font-weight: 600;
}

@media only screen and (max-width:1024px) {
    .site-greeting-text h1 {
        margin-top: 160px;
        font-size: 62px;
    }
}

@media only screen and (max-width:736px) {
    .site-greeting-text h1 {
        margin-top: 100px;
        font-size: 36px;
    }
}

@media only screen and (max-width:568px) {
    .site-greeting-text h1 {
        font-size: 36px;
    }
}

@media only screen and (max-width:375px) {
    .site-greeting-text h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width:320px) {
    .site-greeting-text h1 {
        font-size: 28px;
    }
}

.site-greeting-text em {
    font-size: 24px;
}

@media only screen and (max-width:736px) {
    .site-greeting-text em {
        font-size: 18px;
    }
}

.text-shadow-black {
    text-shadow: -1px 2px 1px rgba(68, 68, 68, 0.9);
}

.text-shadow-red {
    text-shadow: -1px 2px 1px #d71921;
}

.bkg-red {
    background-color: #d71921;
}

.big-col {
    width: 62%;
}

.small-col {
    width: 33%;
}

@media only screen and (max-width:667px) {
    .big-col {
        width: 100%;
    }

    .small-col {
        width: 100%;
    }
}

.solving-it {
    background-color: #fff;
}

.solving-it h2 {
    padding: 0 170px;
    margin-top: 1000px;
    margin-bottom: 300px;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

@media only screen and (max-width:1366px) {
    .solving-it h2 {
        padding: 0 250px;
        font-size: 42px;
        line-height: 50px;
    }
}

@media only screen and (max-width:1280px) {
    .solving-it h2 {
        padding: 0 200px;
    }
}

@media only screen and (max-width:1024px) {
    .solving-it h2 {
        padding: 0 70px;
    }
}

@media only screen and (max-width:768px) {
    .solving-it h2 {
        font-size: 36px;
    }
}

@media only screen and (max-width:736px) {
    .solving-it h2 {
        font-size: 28px;
        line-height: 32px;
    }
}

@media only screen and (max-width:568px) {
    .solving-it h2 {
        padding: 0 50px;
        font-size: 24px;
        line-height: 36px;
        text-shadow: none;
    }
}

@media only screen and (max-width:414px) {
    .solving-it h2 {
        padding: 0 10px;
        font-size: 21px;
        line-height: 36px;
    }
}

@media only screen and (max-width:375px) {
    .solving-it h2 {
        padding: 0;
        font-size: 21px;
        line-height: 30px;
    }
}

.solving-it h2.slide-up {
    margin-top: 0;
    margin-bottom: 0;
}

.solving-it p {
    font-size: 24px;
    line-height: 36px;
}

@media only screen and (max-width:768px) {
    .solving-it p {
        font-size: 17px;
        line-height: 24px;
    }
}

@media only screen and (max-width:768px) {
    .solving-it p {
        font-size: 15px;
        line-height: 21px;
        padding:0 50px;
    }
}

@media only screen and (max-width:414px) {
    .solving-it p {
        padding:0;
    }
}

.worked-with {
    margin-top:200px;
    -webkit-transition: all .5s linear;
    -ms-transition: all .5s linear;
    transition: all .5s linear
}

.worked-with-title {
    overflow-x: hidden;
    overflow-y: visible;
}

.worked-with h3 {
    left: 2000px;
    font-size: 36px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

@media only screen and (max-width:736px) {
    .worked-with h3 {
        font-size: 36px;
    }
}

@media only screen and (max-width:667px) {
    .worked-with h3 {
        font-size: 28px;
    }
}

.worked-with .company {
    min-height: 175px;
    opacity: 0;
    width: 16.66%;
    padding: 0 20px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

@media only screen and (max-width:768px) {
    .worked-with .company {
        min-height: 50px;
    }
}

@media only screen and (max-width:414px) {
    .worked-with .company {
        min-height: 120px;
        width: 33.33%;
    }
}

.worked-with .company img {
    width: 100%;
}

.worked-with .company:nth-child(6n+6) {
    margin-right: 0;
}

/**
 * Why TCI
 */
.our-story {
    overflow: hidden;
}

.our-story a, .our-story a:visited {
    font-weight: bold
}

.our-story h1 {
    font-size: 100px;
    font-weight: 600;
    line-height: 100px;
}

@media only screen and (max-width:736px) {
    .our-story h1 {
        font-size: 70px;
        line-height: 70px;
    }
}

.our-story-text {
    margin: 100px 0;
}

@media only screen and (max-width:768px) {
    .our-story-text {
        margin: 30px 0;
    }

    .our-story-text .col.dual {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width:414px) {
    .our-story-text {
        margin: 30px 0;
    }
}

.our-story-text h2 {
    margin-top: 100px;
    margin-left: -3000px;
    font-size: 58px;
    font-weight: 600;
    line-height: 76px;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

@media only screen and (max-width:1280px) {
    .our-story-text h2 {
        margin-top: 100px;
    }
}

@media only screen and (max-width:1024px) {
    .our-story-text h2 {
        margin-top:180px;
        font-size: 52px;
        line-height: 64px;
    }
}

@media only screen and (max-width:768px) {
    .our-story-text h2 {
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
        font-size: 32px;
    }
}

@media only screen and (max-width:568px) {
    .our-story-text h2 {
        font-size: 28px;
    }
}

@media only screen and (max-width:414px) {
    .our-story-text h2 {
        font-size: 28px;
        line-height: 32px;
    }
}

.our-story-text h2.sized-up {
    margin-left: 0;
}

.our-story-text p {
    margin-bottom: 15px;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.why-tci-content .why-tci {
    position: relative;
}

@media only screen and (max-width:414px) {
    .why-tci-content .why-tci {
        padding: 30px 0;
    }
}

.why-tci-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.why-tci-planning {
    padding: 0 120px;
}

@media only screen and (max-width:768px) {
    .why-tci-planning {
        padding: 0 20px;
    }
}

@media only screen and (max-width:736px) {
    .why-tci-planning {
        padding: 0 70px;
    }
}

@media only screen and (max-width:568px) {
    .why-tci-planning {
        padding: 0;
    }
}

@media only screen and (max-width:414px) {
    .why-tci-planning {
        margin-top: 20px;
    }
}

.why-tci h3 {
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width:736px) {
    .why-tci h3 {
        font-size: 36px;
        line-height: 42px;
    }
}

@media only screen and (max-width:414px) {
    .why-tci h3 {
        font-size: 42px;
        line-height: 42px;
    }
}

.why-tci p {
    font-size: 18px;
    line-height: 28px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width:736px) {
    .why-tci p {
        font-size: 15px;
        line-height: 21px;
    }
}

@media only screen and (max-width:375px) {
    .why-tci p {
        font-size: 15px;
        line-height: 24px;
    }
}

@media only screen and (max-width:375px) {
    .the-plan {
        display: none;
    }
}

.why-us-col .bubble {
    overflow: hidden;
    display: inline-block;
    width: 0px;
    height: 0px;
    border: none;
    border-radius: 50%;
    background-color: #333;
    box-shadow: none;
    font-size: 42px;
    line-height: 120px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

@media only screen and (max-width:736px) {
    .why-us-col .bubble {
        font-size: 18px;
        line-height: 40px;
    }
}

.why-us-col .bubble.sized-up {
    width: 125px;
    height: 125px;
    border: 2px solid #4a4a4a;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width:736px) {
    .why-us-col .bubble.sized-up {
        width: 40px;
        height: 40px;
    }
}

.why-us-col span {
    font-size: 21px;
    font-weight: 600;
}

@media only screen and (max-width:736px) {
    .why-us-col span {
        font-size: 18px;
    }
}

@media only screen and (max-width:568px) {
    .why-us-col span {
        margin-top: 10px;
        font-size: 12px;
    }
}

.great-experience {
    padding: 0 320px;
}

@media only screen and (max-width:1280px) {
    .great-experience {
        padding: 0 290px;
    }
}

@media only screen and (max-width:1024px) {
    .great-experience {
        padding: 0 160px;
    }
}

@media only screen and (max-width:768px) {
    .great-experience {
        padding: 0 50px;
    }
}

@media only screen and (max-width:414px) {
    .great-experience {
        padding: 0;
    }
}

.great-experience p {
    font-size: 24px;
    line-height: 36px;
}

@media only screen and (max-width:736px) {
    .great-experience p {
        font-size: 18px;
        line-height: 24px;
    }
}

@media only screen and (max-width:568px) {
    .great-experience p {
        font-size: 15px;
        line-height: 21px;
    }
}

.scructuredcabling-content {
    overflow: hidden;
}

.scructuredcabling-content .big-col {
    margin-right: 5%;
}

@media only screen and (max-width:414px) {
    .scructuredcabling-content .big-col {
        margin-right: 0;
        width: 100%;
    }

    .scructuredcabling-content .small-col {
        width: 100%;
    }
}

.scructuredcabling-content h1 {
    margin-left: 2000px;
    font-size: 76px;
    font-weight: 600;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

@media only screen and (max-width:1280px) {
    .scructuredcabling-content h1 {
        font-size: 64px;
    }
}

@media only screen and (max-width:1024px) {
    .scructuredcabling-content h1 {
        font-size: 54px;
    }
}

@media only screen and (max-width:768px) {
    .scructuredcabling-content h1 {
        font-size: 42px;
    }
}

@media only screen and (max-width:320px) {
    .scructuredcabling-content h1 {
        font-size: 32px;
    }
}

.scructuredcabling-content h1.moved {
    margin-left: 0;
}

.scructuredcabling-content h2, .scructuredcabling-content h3, .scructuredcabling-content h4 {
    font-size: 42px;
    font-weight: 600;
}

@media only screen and (max-width:1280px) {
    .scructuredcabling-content h2, .scructuredcabling-content h3, .scructuredcabling-content h4 {
        font-size: 36px;
    }
}

@media only screen and (max-width:768px) {
    .scructuredcabling-content h2, .scructuredcabling-content h3, .scructuredcabling-content h4 {
        font-size: 21px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width:320px) {
    .scructuredcabling-content h2, .scructuredcabling-content h3, .scructuredcabling-content h4 {
        font-size: 18px;
    }
}

.structured-cabling-intro-text {
    padding: 0 60px;
}

@media only screen and (max-width:1366px) {
    .structured-cabling-intro-text {
        padding: 0 50px;
    }
}

@media only screen and (max-width:1024px) {
    .structured-cabling-intro-text {
        padding: 0 30px;
    }
}

@media only screen and (max-width:768px) {
    .structured-cabling-intro-text {
        padding: 0px;
    }
}

.structured-cabling-intro-text img {
    padding-left: 30px;
}

@media only screen and (max-width:667px) {
    .structured-cabling-intro-text img {
        padding: 50px 200px 0 200px;
    }
}

@media only screen and (max-width:414px) {
    .structured-cabling-intro-text img {
        padding: 50px 70px 0 70px;
    }
}

.scructuredcabling-content h2 {
    right: 2000px;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.scructuredcabling-content h2.moved {
    right: 0;
}

.scructuredcabling-content h3 {
    right: 2000px;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.scructuredcabling-content h3.moved {
    right: 0;
}

.scructuredcabling-content li {
    margin-bottom: 3px;
}

.cabling-types {
    padding: 0 60px;
}

@media only screen and (max-width:768px) {
    .cabling-types {
        padding: 0px;
    }
}

@media only screen and (max-width:667px) {
    .cabling-types img {
        padding: 0 200px;
    }
}

@media only screen and (max-width:414px) {
    .cabling-types img {
        padding: 0 70px;
    }
}

.wireless-banner {
    height: 600px;
    background: url(../../../../images/uploads/pages/wireless_solutions/802051_wirelessbanner.jpg) no-repeat 50% 50%;
    background-size: 1920px 600px;
}

@media only screen and (max-width:736px) {
    .wireless-banner {
        background-size: 1120px 400px;
        height: 400px;
    }
}

.wireless-banner-text {
    position: absolute;
    top: 20%;
    left: 13%;
    right: 1000px;
    width: 500px;
}

@media only screen and (max-width:1024px) {
    .wireless-banner-text {
        left: 5%;
    }
}

@media only screen and (max-width:768px) {
    .wireless-banner-text {
        left: 7%;
    }
}

@media only screen and (max-width:736px) {
    .wireless-banner-text {
        top: 12%;
        left: 7%;
        width: 500px;
    }
}

@media only screen and (max-width:414px) {
    .wireless-banner-text {
        top: 13%;
        left: 2.5%;
        width: 300px;
    }
}

.wireless-banner-text h1 {
    width: 500px;
    margin-left: -2000px;
    font-size: 72px;
    color: #333;
    line-height: 72px;
    -webkit-transition: all .5s linear;
    -ms-transition: all .5s linear;
    transition: all .5s linear
}

@media only screen and (max-width:736px) {
    .wireless-banner-text h1 {
        width: 500px;
        font-size: 42px;
        line-height: 50px;
    }
}

@media only screen and (max-width:414px) {
    .wireless-banner-text h1 {
        width: 300px;
        font-size: 36px;
        line-height: 42px;
    }
}

.wireless-banner-text h1.moved {
    margin-left: 0;
}

.wireless-banner-text h2 {
    width: 500px;
    margin-left: -2000px;
    -webkit-transition: all .5s linear;
    -ms-transition: all .5s linear;
    transition: all .5s linear
}

@media only screen and (max-width:736px) {
    .wireless-banner-text h2 {
        width: 300px;
        font-size: 21px;
        line-height: 28px;
    }
}

@media only screen and (max-width:414px) {
    .wireless-banner-text h2 {
        width: 300px;
        font-size: 21px;
    }
}

.wireless-banner-text h2.moved {
    margin-left: 0;
}

.wireless-banner-text p {
    width: 500px;
    margin-left: -2000px;
    font-size: 18px;
    -webkit-transition: all .5s linear;
    -ms-transition: all .5s linear;
    transition: all .5s linear
}

@media only screen and (max-width:736px) {
    .wireless-banner-text p {
        width: 300px;
        font-size: 15px;
    }
}

.wireless-banner-text p.moved {
    margin-left: 0;
}

.nav-tabs {
    border-bottom: 1px solid #aaa;
}

.nav-tabs li {
    display: inline-block;
    padding: 10px 15px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    margin-bottom: -1px;
    margin-left: -5px;
    color: #aaa;
    font-size: 17px;
    cursor: pointer;
}

.nav-tabs li:last-child {
    border-right: 1px solid #aaa;
}

.nav-tabs li.current {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: 600;
    color: #555;
}

.wireless-description {
    padding: 0 200px;
}

@media only screen and (max-width:1024px) {
    .wireless-description {
        padding: 0 50px;
    }
}

@media only screen and (max-width:736px) {
    .wireless-description {
        padding: 0px;
    }
}

.wireless-description h3 {
    font-size: 28px;
    line-height: 28px;
}

.prefer-wired h4 {
    font-size: 36px;
    line-height: 36px;
}

@media only screen and (max-width:414px) {
    .prefer-wired h4 {
        font-size: 24px;
        line-height: 32px;
    }
}

.prefer-wired p {
    font-size: 18px;
}

@media only screen and (max-width:768px) {
    .prefer-wired p {
        padding: 0 90px;
    }
}

@media only screen and (max-width:568px) {
    .prefer-wired p {
        padding: 0;
    }
}

.prefer-wired a, .prefer-wired a:visited {
    color: #ffd646;
    font-weight: bold;
}

.expandable-wireless, .p2p-wireless {
    display: none;
}

.expandable-wireless.show, .p2p-wireless.show {
    display: block;
}

.solutions-banner {
    padding: 50px 0 50px 0;
    background-color: #333;
}

.solutions-banner h1 {
    color: #fff;
    font-size: 56px;
    line-height: 56px;
}

@media only screen and (max-width:736px) {
    .solutions-banner h1 {
        font-size: 42px;
        line-height: 42px;
    }
}

@media only screen and (max-width:667px) {
    .solutions-banner h1 {
        font-size: 36px;
        line-height: 36px;
    }
}

.solutions-content .wrapper {
    width: 1000px;
}

@media only screen and (max-width:1024px) {
    .solutions-content .wrapper {
        width: 95%;
    }
}

.get-service-now h6 {
    font-size: 28px;
    line-height: 28px;
}

@media only screen and (max-width:667px) {
    .get-service-now h6 {
        font-size: 24px;
        line-height: 24px;
    }
}

@media only screen and (max-width:414px) {
    .get-service-now h6 {
        font-size: 24px;
        line-height: 32px;
    }
}

.get-service-now span {
    line-height: 100px;
    margin: 0 15px;
}

@media only screen and (max-width:414px) {
    .get-service-now .btn {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:667px) {
    .backup-and-storage .space-bottom-xl {
        margin-bottom: 50px;
    }
}

.backup-and-storage h2, .backup-and-storage h6 {
    font-size: 28px;
}

@media only screen and (max-width:414px) {
    .backup-and-storage h2, .backup-and-storage h6 {
        line-height: 32px;
    }
}

@media only screen and (max-width:667px) {
    .backup-and-storage .col.triple {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:667px) {
    .backup-and-storage .col.dual {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
}

.backup-and-storage h3, .backup-and-storage h4, .backup-and-storage h5 {
    font-size: 21px;
}

@media only screen and (max-width:736px) {
    .backup-and-storage h3, .backup-and-storage h4, .backup-and-storage h5 {
        font-size: 18px;
    }
}

@media only screen and (max-width:667px) {
    .backup-and-storage h3, .backup-and-storage h4, .backup-and-storage h5 {
        font-size: 21px;
    }
}

@media only screen and (max-width:667px) {
    .backup-and-storage img {
        padding: 0 100px;
    }
}

@media only screen and (max-width:414px) {
    .dont-lose-files {
        margin-bottom: 50px;
    }
}

.email-and-spam h2, .email-and-spam h3 {
    font-size: 28px;
}

.contact-form {
    padding: 40px 25px;
}

.contact-us {
    background-color: #333;
    background: url(../../../../images/uploads/pages/structured_cabling/rack.jpg) no-repeat 50% 42%;
    background-size: 1920px 1080px;
}

.contact-us-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width:414px) {
    .contact-us-overlay {
        padding: 50px 2.5%;
    }
}

.contact-content h1 {
    font-size: 72px;
    font-weight: 600;
}

@media only screen and (max-width:568px) {
    .contact-content h1 {
        font-size: 36px;
    }
}

.contact-content h2, .contact-content h3 {
    font-size: 28px;
    font-weight: 600;
}

@media only screen and (max-width:768px) {
    .contact-content h2, .contact-content h3 {
        font-size: 21px;
    }
}

.contact-content span {
    font-size: 24px;
}

.contact-content .small-col {
    margin-right: 5%;
}

@media only screen and (max-width:667px) {
    .contact-content .small-col {
        margin-right: 0;
        margin-bottom: 50px;
    }
}

.contact-info {
    font-size: 24px;
    line-height: 36px;
}

@media only screen and (max-width:768px) {
    .contact-info {
        font-size: 18px;
        line-height: 28px;
    }
}

.social-bar li {
    display: inline-block;
    margin: 0 15px;
}

@media only screen and (max-width:768px) {
    .social-bar li {
        margin: 0 8px;
    }
}

.social-bar a, .social-bar a:visited {
    font-size: 28px;
}

.social-bar a:hover, .social-bar a:focus, .social-bar a:active {
    color: #999;
}

#map {
    height: 400px;
    border: 1px solid #ddd;
}

.help-guide-content {
    -webkit-transition: all .5s linear;
    -ms-transition: all .5s linear;
    transition: all .5s linear
}

#help-guide {
    float: right;
    width: 70%;
}

.help-guide-nav {
    position: fixed;
    top: 28%;
    left: 12%;
    width: 300px;
    font-size: 18px;
}

.help-guide-nav a, .help-guide-nav a:visited {
    float: left;
    width: 100%;
    padding: 3px 15px;
    margin-bottom: 3px;
    background-color: #d71921;
    color: #fff;
}

.help-guide-nav a:active, .help-guide-nav a:focus {
    color: rgba(255, 214, 70, 1);
}

.get-a-quote {
    padding:0 200px;
}

.get-a-quote label, .get-a-quote input {
    display: inline-block;
    vertical-align: middle;
    height:28px; 
    line-height: 28px;
}

.get-a-quote input {
    margin-right: 10px;
}

.get-a-quote a {
    margin-left:5px;
    font-size: 10px;
}