<div class="private-message">
    <div class="private-message-titlebar">
        <span>Private Message</span>
    </div>
    <div class="private-message-formarea">
        <form id="pm-form" class="fancy-form">
            <div class="row fancy-row space-bottom-15">
                <label for="receiver">To: </label>
                <input type="text" name="receiver" value="{{receiver}}" readonly="readonly" id="username" class="row">
            </div>
            <div class="row fancy-row space-bottom-15">
                <label for="subject">Subject: </label>
                <input type="text" name="subject" id="subject" class="row">
            </div>
            <div class="row fancy-row space-bottom-15">
                <label for="message">Message: </label>
                <textarea name="message" id="message" class="row"></textarea>
            </div>
        </form>
    </div>
    <div class="private-message-btnarea">
        <button type="button" class="pull-right btn btn-default btn-send disabled"><i class="fas fa-commenting fa-fw"></i> Send</button>
    </div>
</div>