    <footer class="row footer">
        <div class="wrapper">
            <div class="col col-50 footer-links">
                <ul class="row list-unstyled pull-left">
                    <li><a href="/sitemap">Site Map</a></li>
                    <?php foreach ($links as $link): ?>
                    <?php if ($link['bottom'] && !$link['children']): ?>
                    <li><a href="<?= $link['route']; ?>" class="nav-link <?= $link['class']; ?>"><?= $link['nav_name']; ?></a></li>
                    <?php endif ?>
                    <?php endforeach ?>
                </ul>
            </div>
            <div class="col col-50 tech-connection">
                <p>Tech Connection Inc (Since 2008)</p>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript">
 
    var btn;
    var btnhtml;

    var header_height = $('header').outerHeight();
    var footer_height = $('footer').outerHeight();
    var remove_height = header_height + footer_height;
    var main_height = $(window).height() - remove_height;

    $('main').css({'min-height' : main_height});

    $('.nav-link.home').html('<i class="fas fa-home fa-fw"></i>');

    $('body').on('click', '.alert-continue', function() {
        location.reload();
    });

    $('body').on('click', '.alert-close', function() {
        $(this).parent().remove();
    });

    $('body').on('click', '.alert-redirect', function() {
        location.replace('/dashboard');
    });

    $('body').on('click', '.btn', function() {
        btn = $(this);
        btnhtml = btn.html();
        $('.alert').remove();
        $('.alert-area').html('');
        if ($(this).hasClass('no-load') == false) {
            $(this).html('<i class="fas fa-spinner fa-fw fa-spin"></i> loading...');
        }   
    });

    $(document).ajaxComplete(function(event, request, setting) {
        if (btn) {
            btn.prop('disabled', false).html(btnhtml);
        }
    });

</script>
</html>